<template>
  <div class="form-group">
    <strong>Название</strong>

    <input
      :value="name"
      type="text"
      name="name"
      class="form-control"
      @input="$emit('change', $event.target.value)"
    />
  </div>
</template>

<script lang="ts">
import Vue from 'vue';

export default Vue.extend({
  name: 'ClientPriceListsDuplicateForm',

  model: {
    prop: 'name',
    event: 'change',
  },
  props: {
    name: {
      type: String,
      required: true,
    },
  },
});
</script>
