<template>
  <PreloaderWrapper :showPreloader="isPreloaderDisplayed">
    <form @submit.prevent="submitPriceListForm">
      <PageHeader>Создание копии прайслиста клиента "{{ sourcePriceListName }}"</PageHeader>

      <p>
        <BackButton :to="{ name: clientPriceListsRoute.name }" />
      </p>

      <ClientPriceListsDuplicateForm v-model="newPriceList.name" />

      <SaveButton class="mb-4" />

      <ClientPriceListProductPrices
        v-if="sourcePriceList"
        :priceList="sourcePriceList"
        :productPrices="productPrices"
      />

      <SaveButton class="mt-2 mb-2" />
    </form>
  </PreloaderWrapper>
</template>

<script lang="ts">
import Vue from 'vue';

import PreloaderWrapper from '@/components/Helpers/PreloaderWrapper.vue';
import PageHeader from '@/featureSliced/shared/components/PageHeader.vue';
import BackButton from '@/components/UI/Buttons/BackButton.vue';
import SaveButton from '@/components/UI/SaveButton.vue';
import ClientPriceListProductPrices from '@/featureSliced/widgets/ClientPriceListProductPrices/ClientPriceListProductPrices.vue';
import ClientPriceListsDuplicateForm from '@/featureSliced/areas/clientPriceLists/clientPriceListsDuplicate/components/ClientPriceListsDuplicateForm.vue';

import { getPathEntityId } from '@/helpers/helpers';

import { getPriceListRequest, duplicatePriceListRequest } from '@/requestManager/ClientPricelistRequests';

import clientPriceListsRoute from '@/featureSliced/areas/clientPriceLists/clientPricelists/route';

const component = Vue.extend({
  name: 'ClientPriceListsDuplicate',
  components: {
    PreloaderWrapper,
    PageHeader,
    BackButton,
    SaveButton,
    ClientPriceListProductPrices,
    ClientPriceListsDuplicateForm,
  },

  data: () => ({
    clientPriceListsRoute,
    isPreloaderDisplayed: false,
    sourcePriceList: null as App.Models.ClientPriceList | null,
    productPrices: [],
    newPriceList: {
      name: '',
    },
  }),
  computed: {
    sourcePriceListName(): string {
      return this.sourcePriceList?.name || '';
    },
  },

  async created() {
    this.showPreloader();
    await this.loadClientPriceList();
    this.hidePreloader();
  },

  methods: {
    showPreloader(): void {
      this.isPreloaderDisplayed = true;
    },
    hidePreloader(): void {
      this.isPreloaderDisplayed = false;
    },

    async loadClientPriceList() {
      const priceListId = getPathEntityId();
      const response = await getPriceListRequest(priceListId);

      this.sourcePriceList = response.data.priceList as App.Models.ClientPriceList;
      this.productPrices = response.data.productPrices;
    },

    async submitPriceListForm() {
      this.showPreloader();
      await duplicatePriceListRequest({
        id: this.sourcePriceList!.id,
        newPriceList: this.newPriceList,
      });
      console.log(clientPriceListsRoute.path);
      this.hidePreloader();

      // @ts-ignore
      await this.$router.push({
        name: clientPriceListsRoute.name,
      });
    },
  },
});

export default component;
</script>
