<template>
  <div>
    <div class="row">
      <div class="col-lg-12 margin-tb">
        <h2>
          Создание заказа
        </h2>
        <p>
          <BackButton :to="{ name: 'orders' }" />
        </p>
      </div>
    </div>
    <OrderForm />
  </div>
</template>

<script>
import BackButton from '@/components/UI/Buttons/BackButton.vue';
import OrderForm from '@/components/widgets/orderForm/OrderForm.vue';

export default {
  name: 'CreateOrder',
  components: {
    BackButton,
    OrderForm,
  },
}
</script>

<style scoped>

</style>
