<template>
  <div>
    <div class="row">
      <div class="col-lg-12 margin-tb">
        <h2>
          Редактирование заказа №{{ order.number }}
        </h2>
        <p>
          <BackButton :to="{ name: 'orders' }" />
        </p>
      </div>
    </div>

    <OrderForm :id="+$route.params.id" @init="order = $event" />
  </div>
</template>

<script>
import BackButton from '@/components/UI/Buttons/BackButton.vue';
import OrderForm from '@/components/widgets/orderForm/OrderForm.vue';

export default {
  name: 'EditOrder',
  components: {
    BackButton,
    OrderForm,
  },

  data: () => ({
    order: {},
  }),
}
</script>
