<template>
  <main class="container py-4">
    <div class="row">
      <div class="col-lg-12 margin-tb">
        <div class="pull-left">
          <h2>Заказы</h2>
        </div>
        <p class="pull-right">
          <router-link class="btn btn-success" to="/orders/create">
            Добавить заказ
          </router-link>
        </p>
      </div>
    </div>

    <PreloaderWrapper :showPreloader="pending">
      <table class="table table-striped">
        <thead>
          <tr>
            <th>№</th>
            <th>Клиент</th>
            <th>Дата</th>
            <th style="width: 120px;">Действие</th>
          </tr>
        </thead>
        <tbody>
          <template v-if="paginatedOrders.length">
            <tr v-for="(order, i) in paginatedOrders">
              <td>{{ order.number }}</td>
              <td>{{ order.client.name }}</td>
              <td>{{ $dayjs(order.date).format('DD.MM.YYYY')  }}</td>
              <td>
                <router-link
                  :to="{ name: 'orders-edit', params: { id: order.id } }"
                  class="btn btn-primary"
                >
                  <VIcon name='pen' />
                </router-link>

                <DeleteButton @click="deleteOrder(order.id)" />
              </td>
            </tr>
          </template>
          <tr v-else>
            <td colspan="5">Нет заказов</td>
          </tr>
        </tbody>
      </table>
    </PreloaderWrapper>

    <Pagination
      v-if="!pending"
      :selectedPage="pageIndex"
      :itemsCount="orders.length"
      :perPage="PER_PAGE"
      @select="pageIndex = $event"
    />
  </main>
</template>

<script>

import DeleteButton from '@/components/UI/Buttons/DeleteButton';

import { getOrdersRequest, deleteOrderRequest } from '@/requestManager/OrderRequests';

import pagination from '@/mixins/pagination';

export default {
  name: 'Orders',
  components: {
    DeleteButton,
  },
  mixins: [
    pagination,
  ],

  data: () => ({
    orders: [],
    pageIndex: 0,
    pending: false,
  }),
  computed: {
    paginatedOrders() {
      return this.paginatedItems(this.orders, this.PER_PAGE, this.pageIndex);
    },

    startItemIndex() {
      return this.pageIndex * this.PER_PAGE;
    },
  },

  mounted() {
    this.getOrders();
  },

  methods: {
    async getOrders() {
      this.pending = true;

      const { data } = await getOrdersRequest();
      this.orders = data.data;

      this.pending = false;
    },

    async deleteOrder(id) {
      this.pending = true;
      await deleteOrderRequest(id);

      this.pageIndex = 0;
      const { data } = await getOrdersRequest();
      this.orders = data.data;

      this.pending = false;
    },
  },
}
</script>
