<template>
  <div>
    <div class="row">
      <div class="col-lg-12 margin-tb">
        <h2>История входов</h2>
      </div>
    </div>

    <!-- 1 -->
    <div class="row">
      <DateField
        v-model="filter.from"
        :clearable="true"
        class="col-md-3"
        @input="updateFilter()"
      />

      <DateField
        v-model="filter.to"
        :clearable="true"
        class="col-md-3"
        @input="updateFilter()"
      />
    </div>
    <PreloaderWrapper :showPreloader="pending">
      <table class="table table-striped">
        <thead>
          <tr>
            <th>#</th>
            <th>Дата-время</th>
            <th>Пользователь</th>
            <th>IP</th>
            <th>Устройство</th>
          </tr>
        </thead>
        <tbody>
          <tr v-for="(log, index) in logs" :key="log.id">
            <td>{{ (filter.page - 1) * perPage + index + 1 }}</td>
            <td>{{ getDate(log.created_at) }}</td>
            <td>{{ log.user ? log.user.name : '-' }}</td>
            <td>{{ log.ip }}</td>
            <td>{{ getDevice(log.useragent) }}</td>
          </tr>
        </tbody>
      </table>
    </PreloaderWrapper>

    <Pagination
      v-model="filter.page"
      :selected-page="filter.page - 1"
      :itemsCount="totalItems"
      :perPage="perPage"
      @select="changePage"
    />
  </div>
</template>

<script>
import { getActivityRequest } from '@/requestManager/ActivityRequests';
import { USER_DEVICES } from '@/constants/devices';

import Pagination from '@/components/Helpers/Pagination';
import DateField from '@/components/UI/Fields/DateField';

export default {
  name: 'LogsLogin',
  components: {
    DateField,
    Pagination,
  },

  data: () => ({
    logs: [],
    totalItems: 0,
    perPage: 0,
    filter: {
      from: '',
      to: '',
      page: 1,
      description: 'login.succeed'
    },
    pending: false,
  }),

  async created () {
    this.updateFilter();
  },

  methods: {
    async updateFilter() {
      this.pending = true;
      const request = await getActivityRequest(this.filter);
      this.logs = request?.data?.data;
      this.totalItems = request?.data?.meta.total;
      this.perPage = request?.data?.meta.per_page;
      this.pending = false;
    },
    changePage(event) {
      this.filter.page = event + 1;
      this.updateFilter();
    },
    getDate(dateField) {
      const date = new Date(dateField);
      return this.$dayjs(date).format('HH:mm, DD.MM.YYYY')
    },
    getDevice(useragent) {
      const device = USER_DEVICES.find(testDevice => testDevice.platform.test(useragent));
      return device ? device.device : 'Неизвестное устройство';
    },
  },
}
</script>
