<template>
  <div>
    <div class="row">
      <div class="col-md-12">
        <p>Показаны документы, для которых все указанные фильтры выполняются одновременно.
          <br>
          Подсчет происходит независимо от статуса оплаты счетов.
        </p>
      </div>
    </div>

    <div class="row">
      <DateField
        v-model="filter.from"
        class="col-md-3"
        @input="loadDocs()"
      >
        Дата от
      </DateField>
      <DateField
        v-model="filter.to"
        class="col-md-3"
        @input="loadDocs()"
      >
        Дата до
      </DateField>
    </div>

    <div class="row">
      <SupplierField
        v-model="filter.supplierIds"
        multiple
        class="col-md-6"
        @change="loadDocs"
      />
      <ClientField
        v-model="filter.clientIds"
        multiple
        hideArchived
        class="col-md-6"
        @change="loadDocs"
      />
    </div>

    <PreloaderWrapper :showPreloader="showPreloader">
      <table class="table table-striped">
        <thead>
          <tr>
            <th>#</th>
            <th>Документ</th>
            <th>Контрагент</th>
            <th>Вес товара</th>
            <th>Сумма</th>
            <th class="g-hide-on-print" style="width: 115px">Действие</th>
          </tr>
        </thead>
        <tbody>
          <!-- если дата "от" больше чем дата "до" -->
          <tr v-if="Date.parse(filter.from) > Date.parse(filter.to)">
            <td class="alert-danger" colspan="6">Ошибка: дата "от" больше чем дата "до".</td>
          </tr>

          <!-- если данных достаточно для классического отображения -->
          <template v-else-if="docs.length">
            <tr
              v-for="(doc, i) in docs"
              v-if="docs.length"
              :key="doc.docType + doc.id + '-' + doc.productRelationId"
              :class="doc.docType"
            >
              <!-- # -->
              <td>{{ (i + 1) }}</td>

              <!-- Документ -->
              <td>{{ doc.docTitle }}</td>

              <!-- Контрагент -->
              <td>{{ doc.counterpartyTitle }}</td>

              <!-- Вес товара -->
              <td>{{ beautyNumber(doc.totalCount, { round: true }) }} {{ totalUnit }}</td>

              <!-- Сумма по документу -->
              <td>{{ getAmountInRoublesAndOriginalWithCurrency(doc) }}</td>

              <!-- Действие -->
              <td class="g-hide-on-print">
                <EditDocButton :id="doc.id" :type="doc.docType" />
              </td>
            </tr>

            <tr>
              <td></td>
              <td colspan="2" style="font-weight: bold;">Продал</td>
              <td>{{ beautyNumber(total.productSold.count, { round: true }) }} {{ totalUnit }}</td>
              <td>{{ beautyMoney(total.productSold.amount) }}</td>
              <td>Среднее: {{ beautyMoney(total.productSoldAveragePerKg) }}</td>
            </tr>
            <tr>
              <td></td>
              <td colspan="2" style="font-weight: bold;">Купил</td>
              <td>{{ beautyNumber(total.productBought.count, { round: true }) }} {{ totalUnit }}</td>
              <td>{{ beautyMoney(total.productBought.amount) }}</td>
              <td></td>
            </tr>
            <tr>
              <td></td>
              <td colspan="2" style="font-weight: bold;">Итого</td>
              <td>{{ beautyNumber(total.total.count, { round: true }) }} {{ totalUnit }}</td>
              <td>{{ beautyMoney(total.total.amount) }}</td>
              <td></td>
            </tr>
          </template>

          <tr v-else>
            <td colspan="6">Нет документов, соответствующих указанному фильтру.</td>
          </tr>
        </tbody>
      </table>
    </PreloaderWrapper>
  </div>
</template>

<script>
import { mapState, mapActions } from 'vuex';

import DateField from '@/components/UI/Fields/DateField';
import ClientField from '@/components/UI/Fields/ClientField';
import SupplierField from '@/components/UI/Fields/SupplierField';
import EditDocButton from '@/components/UI/Buttons/EditDocButton';

import { DOC_TYPES } from '@/constants/docTypes';
import { beautyMoney, beautyWeight, beautyNumber } from '@/helpers/helpers';
import { getProductsMovingReportRequest } from '@/requestManager/ReportRequests';
import { getProductsRequest } from '@/requestManager/ProductRequests';

export default {
  name: 'ReportProductsMoving',
  components: {
    DateField,
    ClientField,
    SupplierField,
    EditDocButton,
  },

  data: () => ({
    docs: [],
    filter: {
      from: '',
      to: '',
      clientIds: [],
      supplierIds: [],
      productIds: [],
    },
    products: [],
    showPreloader: false,
  }),
  computed: {
    ...mapState('clients', [
      'clients',
    ]),

    ...mapState('suppliers', [
      'suppliers',
    ]),

    total() {
      let productBought = {
          amount: 0,
          count: 0
        },
        productSold = {
          amount: 0,
          count: 0,
        };

      if (this.docs.length > 0) {
        // переберем документы
        this.docs.forEach(doc => {
          // если поставка от поставщика
          if (doc.docType === DOC_TYPES.SUPPLY) {
            productBought.count += +doc.totalCount;
            productBought.amount += +doc.rubleAmount;
          }
          // если счет на клиента
          else if (doc.docType === DOC_TYPES.INVOICE) {
            productSold.count += +doc.totalCount;
            productSold.amount += +doc.amount;
          }
        });
      }

      let total = {
        count: (productBought.count - productSold.count),
        amount: (productSold.amount - productBought.amount),
      }

      const productSoldAveragePerKg = productSold.count
        ? Math.round(productSold.amount / productSold.count)
        : 0;

      return {
        // 1 продали товаров
        productSold,
        productSoldAveragePerKg,
        // 2 купили товаров
        productBought,
        // 3 итого
        total,
      }
    },
    totalUnit() {
      return this.filter.product
        ? this.filter.product.unit
        : 'кг';
    },
  },

  created() {
    this.initFilterFields();
    this.loadClients();
    this.loadSuppliers();
    this.loadProducts();
    this.loadDocs();
  },

  methods: {
    ...mapActions('clients', [
      'loadClients',
    ]),

    ...mapActions('suppliers', [
      'loadSuppliers',
    ]),

    beautyMoney,
    beautyWeight,
    beautyNumber,

    initFilterFields() {
      const dates = this.$root.getDaysForCalendarFields();

      this.filter.from = dates['firstDayOfCurrentMonth'];
      this.filter.to = dates['currentDay'];
    },
    getAmountInRoublesAndOriginalWithCurrency(doc) {
      let wrappedAmount;

      // если поставка
      if (doc.docType === DOC_TYPES.SUPPLY) {
        wrappedAmount = 'Расход: ' + this.beautyMoney(doc.rubleAmount);
      }
      // если счет
      else if (doc.docType === DOC_TYPES.INVOICE) {
        wrappedAmount = 'Доход: ' + this.beautyMoney(doc.amount);
      }

      return wrappedAmount;
    },

    async loadDocs() {
      this.showPreloader = true;
      const response = await getProductsMovingReportRequest(this.filter);

      this.docs = response.data.data
        ? response.data.data
        : []
      this.showPreloader = false;
    },
    async loadProducts() {
      const response = await getProductsRequest();
      this.products = response.data.data;
    },
  },
}
</script>
