<template>
  <div>
    <div class="row">
      <div class="col-md-12">
        <p>Показаны документы, для которых все указанные фильтры выполняются одновременно.</p>
      </div>
    </div>

    <div class="row">
      <DateField
        v-model="filter.from"
        class="col-md-3"
        @input="updateFilter()"
      >
        Дата от
      </DateField>
      <DateField
        v-model="filter.to"
        class="col-md-3"
        @input="updateFilter()"
      >
        Дата до
      </DateField>
      <ProductField
        v-model="filter.productId"
        class="col-md-6"
        @change="updateFilter"
      />
    </div>

    <div class="row">
      <SupplierField
        v-model="filter.supplierIds"
        multiple
        class="col-md-6"
        @change="updateFilter"
      />
      <ClientField
        v-model="filter.clientIds"
        multiple
        hideArchived
        class="col-md-6"
        @change="updateFilter"
      />
    </div>

    <PreloaderWrapper :showPreloader="showPreloader">
      <table class="table table-striped">
        <thead>
          <tr>
            <th>#</th>
            <th>Документ</th>
            <th>Контрагент</th>
            <th>Вес товара</th>
            <th>Сумма по товару</th>
            <th class="g-hide-on-print" style="width: 115px">Действие</th>
          </tr>
        </thead>
        <tbody>
          <!-- если товар не выбран -->
          <tr v-if="filter.productId == null">
            <td class="alert-warning" colspan="6">Выберите товар</td>
          </tr>

          <!-- если дата "от" больше чем дата "до" -->
          <tr v-else-if="Date.parse(filter.from) > Date.parse(filter.to)">
            <td class="alert-danger" colspan="6">Ошибка: дата "от" больше чем дата "до".</td>
          </tr>

          <!-- если выбраны поставщики и клиенты одновременно -->
          <tr v-else-if="((filter.clientIds.length > 0) && (filter.supplierIds.length > 0))">
            <td class="alert-danger" colspan="6">Ошибка: выбраны поставщики и клиенты одновременно.</td>
          </tr>

          <!-- если данных достаточно для классического отображения -->
          <template v-else>
            <template v-if="docs.length !== 0">
              <tr
                :class="doc.docType"
                :key="doc.docType + doc.id + '-' + doc.productRelationId"
                v-for="(doc, i) in docs"
                v-if="docs.length !== 0"
              >
                <!-- # -->
                <td>{{ (i + 1) }}</td>

                <!-- Документ -->
                <td>{{ doc.docTitle }}</td>

                <!-- Контрагент -->
                <td>{{ doc.counterpartyTitle }}</td>

                <!-- Вес товара -->
                <td>{{ doc.productCount }} {{ productUnit }}</td>

                <!-- Сумма по товару -->
                <td>{{ getAmountInRoublesAndOriginalWithCurrency(doc) }}</td>

                <!-- Действие -->
                <td class="g-hide-on-print">
                  <EditDocButton :id="doc.id" :type="doc.docType" />
                </td>
              </tr>

              <tr>
                <td></td>
                <td colspan="2" style="font-weight: bold;">Продал</td>
                <td>{{ roundTo(productSold.count) }} {{ productUnit }}</td>
                <td>{{ beautyNumber(productSold.amount, { round: true }) }} руб.</td>
                <td>Среднее: {{ beautyNumber(productSold.averageAmountPerKg) }} руб.</td>
              </tr>
              <tr>
                <td></td>
                <td colspan="2" style="font-weight: bold;">Купил</td>
                <td>{{ roundTo(productBought.count) }} {{ productUnit }}</td>
                <td>{{ beautyNumber(productBought.amount, { round: true }) }} руб.</td>
                <td></td>
              </tr>
              <tr>
                <td></td>
                <td colspan="2" style="font-weight: bold;">Итого</td>
                <td>{{ roundTo(productBought.count - productSold.count) }} {{ productUnit }}</td>
                <td>{{ beautyNumber(productBought.amount - productSold.amount, { round: true }) }} руб.</td>
                <td></td>
              </tr>
            </template>

            <tr v-else>
              <td colspan="6">Нет документов, соответствующих указанному фильтру.</td>
            </tr>
          </template>
        </tbody>
      </table>
    </PreloaderWrapper>
  </div>
</template>

<script>
import { mapActions } from "vuex";

import DateField from '@/components/UI/Fields/DateField';
import ProductField from '@/components/UI/Fields/ProductField';
import ClientField from '@/components/UI/Fields/ClientField';
import SupplierField from '@/components/UI/Fields/SupplierField';
import EditDocButton from '@/components/UI/Buttons/EditDocButton';

import { DOC_TYPES } from '@/constants/docTypes';
import { beautyNumber, roundTo } from '@/helpers/helpers';
import { getProductsReportRequest } from '@/requestManager/ReportRequests';

export default {
  name: 'ReportByProductsTable',
  components: {
    DateField,
    ProductField,
    SupplierField,
    ClientField,
    EditDocButton,
  },

  data: () => ({
    clients: [],
    docs: [],
    filter: {
      from: '',
      to: '',
      clientIds: [],
      supplierIds: [],
      productId: null,
    },
    productBought: {
      count: 0,
      amount: 0,
    },
    productSold: {
      count: 0,
      amount: 0,
    },
    showPreloader: false,
    suppliers: [],
  }),

  mounted() {
    this.initFilterFields();
    this.loadState();
  },

  computed: {
    productUnit() {
      return this.filter.productId
        ? this.filter.productId.unit
        : 'кг';
    },
  },

  methods: {
    ...mapActions('clients', [
      'loadClients',
    ]),
    ...mapActions('suppliers', [
      'loadSuppliers',
    ]),
    ...mapActions('products', [
      'loadProducts',
    ]),

    beautyNumber,
    roundTo,

    initFilterFields() {
      const dates = this.$root.getDaysForCalendarFields();

      this.filter.from = dates['firstDayOfCurrentMonth'];
      this.filter.to = dates['currentDay'];
    },
    getAmountInRoublesAndOriginalWithCurrency(doc) {
      let wrappedAmount;

      // если поставка
      if (doc.docType === DOC_TYPES.SUPPLY) {
        wrappedAmount = 'Расход: '
          + Math.round(parseFloat(doc.productRubleAmount)).toLocaleString('ru') + ' руб.';
      }
      // если счет
      else if (doc.docType === DOC_TYPES.INVOICE) {
        wrappedAmount = 'Доход: '
          + Math.round(parseFloat(doc.productRubleAmount)).toLocaleString('ru') + ' руб.';
      }

      return wrappedAmount;
    },
    async loadState() {
      await Promise.all([
        this.loadClients(),
        this.loadSuppliers(),
        this.loadProducts(),
      ]);
      this.showPreloader = false;
    },
    updateTotal() {
      const productBought = {
          amount: 0,
          count: 0,
        },
        productSold = {
          amount: 0,
          count: 0,
          averageAmountPerKg: 0,
        };

      if (this.docs.length > 0) {
        // переберем документы
        this.docs.forEach(doc => {
          // если поставка от поставщика
          if (doc.docType === DOC_TYPES.SUPPLY) {
            productBought.count += doc.productCount;
            productBought.amount += doc.productRubleAmount;
          }
          // если счет на клиента
          else if (doc.docType === DOC_TYPES.INVOICE) {
            productSold.count += doc.productCount;
            productSold.amount += doc.productRubleAmount;
          }
        });
      }

      productSold.averageAmountPerKg = productSold.count
        ? Math.round(productSold.amount / productSold.count)
        : 0;

      // 1 продали товара на сумму
      this.productSold = productSold;

      // 2 оплатили проданного на сумму
      this.productBought = productBought;
    },
    async updateFilter() {
      if ((this.filter.clientIds.length > 0) && (this.filter.supplierIds.length > 0)) {
        return true;
      }

      if (this.filter.productId !== null) {
        this.showPreloader = true;
      }

      const response = await getProductsReportRequest(this.filter);
      this.docs = response.data.data;
      this.updateTotal();
      this.showPreloader = false;
    },
  },
}
</script>

<style lang="sass">
</style>
