<template>
  <Multiselect
    :class="{ autocomplete__multiple: multiple }"
    :label="label"
    :value="multiselectValue"
    :hide-selected="false"
    :options="list"
    :track-by="trackBy"
    :allow-empty="!required"
    :placeholder="placeholder"
    :multiple="multiple"
    :disabled="disabled"
    @input="changeSelected"
  />
</template>

<script>
/**
 * Этому компоненту нельзя давать ответственность хранить в HTML-value значение
 * - при отправке формы придет null.
 * Поэтому не используется атрибут `name`.
 */
export default {
  // 1
  name: 'Autocomplete',

  // 2
  props: {
    value: [Array, Number],
    label: {
      type: String,
      default: 'name',
    },
    trackBy: {
      type: String,
      default: 'id',
    },
    required: Boolean,
    list: Array,
    placeholder: {
      type: String,
      default: 'Выберите',
    },
    multiple: {
      type: Boolean,
      default: false,
    },
    disabled: Boolean,
  },
  // здесь специально не используем короткую запись, чтоб не выносить инициализацию
  data() { return {
    localValue: this.value,
  } },
  computed: {
    multiselectValue() {
      return this.multiple
        ? this.multiselectValueMultiple
        : this.multiselectValueSingle;
    },

    multiselectValueSingle() {
      return typeof this.value === 'object' && this.value !== null
        ? this.value
        : this.list.find(loopItem => loopItem[this.trackBy] === this.value) || undefined;
    },
    multiselectValueMultiple() {
      return this.value.map(loopValue =>
        this.list.find(loopItem => loopItem[this.trackBy] === loopValue)
      );
    },
  },

  methods: {
    changeSelected(newValue) {
      let emitValue;

      if (this.multiple) {
        emitValue = newValue.length
          ? newValue.map(loopValue => loopValue[this.trackBy])
          : [];
      } else {
        emitValue = typeof newValue === 'object' && newValue !== null
          ? newValue[this.trackBy]
          : undefined;
      }

      this.$emit('input', emitValue);
    },
  },
}
</script>

<!-- Add Multiselect CSS. Can be added as a static asset or inside a component. -->
<style src="vue-multiselect/dist/vue-multiselect.min.css"></style>

<style lang="scss" scoped>
.multiselect {
  min-height: 38px;
}

::v-deep .multiselect__placeholder {
  display: block;
  margin-bottom: 0;
  margin-top: -1px;
  margin-left: 5px;
  padding-top: 0;
  font-size: 14px;

  .autocomplete__multiple & {
    padding-top: 7px;
  }
}

::v-deep .multiselect__tags {
  border: 1px solid #ced4da;
  min-height: 38px;

  .autocomplete__multiple & {
    padding: 0 8px;
  }
}

::v-deep .multiselect__tag {
  margin-bottom: 0;
}

::v-deep .multiselect__input {
  font-size: 14px;

  //noinspection CssInvalidPseudoSelector
  &::-webkit-credentials-auto-fill-button {
    visibility: hidden;
    display: none;
  }

  .autocomplete__multiple & {
    padding-top: 7px;
  }
}

::v-deep .multiselect__single {
  font-size: 14px;
}

::v-deep .multiselect__select {
  height: 36px;
}

::v-deep .multiselect__tags-wrap {
  line-height: 1px;
  display: inherit;

  .autocomplete__multiple & {
    padding-bottom: 7px;
  }
}
</style>
