<template>
  <input
    type="hidden"
    name="_token"
    :value="getMeta('csrf-token')"
  />
</template>

<script>
import { getMeta } from '@/helpers/template';

export default {
  name: 'HiddenTokenField',

  methods: {
    getMeta,
  },
}
</script>
