<template>
  <div class="row">
    <div class="col-md-12 text-center">
      <button
        class="btn btn-primary"
        @click="$emit('click')"
      >Сохранить</button>
    </div>
  </div>
</template>
