<template>
  <div>
    <label :for="htmlId">{{ label }}</label>

    <div class="input-group mb-4">
      <div class="input-group-prepend">
        <span class="input-group-text cyan lighten-2" id="basic-text1">
          <VIcon name="search" />
        </span>
      </div>

      <input
        v-model="localValue"
        type="text"
        :placeholder="placeholder"
        :id="htmlId"
        class="form-control"
        @input="$emit('input', localValue)"
      >
    </div>
  </div>
</template>

<script>
  export default {
    // 1
    name: 'SearchBlock',

    // 2
    props: {
      value: String,
      label: String,
      htmlId: String,
      placeholder: String,
    },
    data() {
      // здесь специально не используем короткую запись, чтоб не выносить инициализацию
      return {
        localValue: this.value
      }
    },
  }
</script>
