<template>
  <span style="position: relative;">
    <input
      v-bind="$attrs"
      v-model="password"
      type="text"
      class="g-password"
      @input="changeSymbol"
    />
    <input
      v-model="passwordValue"
      type="hidden"
    />
  </span>
</template>

<script>
const HIDDEN_SYMBOL = '•';

// TODO: этот компонент не дописан, потому что не хочет подключаться на странице /login
export default {
  name: 'UnmemorablePassword',

  data: () => ({
    passwordValue: '',
  }),

  computed: {
    password: {
      get() {
        const regexp = /\S/g;
        return this.password.replace(regexp, HIDDEN_SYMBOL);
      },
      set() {

      },
    },
  },

  methods: {
    changeSymbol() {

    },
  },
};
</script>

<style lang="scss" scoped>

</style>
