<template>
  <PreloaderWrapper :showPreloader="pending">
    <div class="row">
      <div class="col-lg-12 margin-tb">
        <h2>
          Создание поставщика
        </h2>
        <p>
          <BackButton :to="{ name: 'suppliers' }" />
        </p>
      </div>
    </div>

    <SupplierForm
      :supplier="supplier"
      :supplierPricelists="supplierPricelists"
      @change="change"
      @emitSave="create"
    />
  </PreloaderWrapper>
</template>

<script>
import { mapMutations, mapActions } from 'vuex';

import BackButton from '@/components/UI/Buttons/BackButton';

import supplierForm from '@/mixins/supplierForm';

import { createSupplierRequest } from '@/requestManager/SupplierRequests';

import Supplier from '@/classes/Supplier';

export default {
  name: 'CreateSupplierView',
  components: {
    BackButton,
  },
  mixins: [ supplierForm ],

  data: () => ({
    supplier: new Supplier(),
  }),

  async created() {
    this.pending = true;

    await this.loadSupplierPricelists();

    this.pending = false;
  },

  methods: {
    ...mapMutations('suppliers', [
      'CREATE_SUPPLIER',
    ]),

    ...mapActions('supplierPricelists', [
      'loadSupplierPricelists',
    ]),

    change(field, value) {
      this.supplier[field] = value;
    },
    async create() {
      this.pending = true;
      const response = await createSupplierRequest(this.supplier);
      this.pending = false;

      if (!response.data.success) {
        // TODO: показать всплывающее окно с ошибкой
        return;
      }

      this.CREATE_SUPPLIER(this.supplier);

      await this.$router.push({
        name: 'suppliers',
      });
    },
  },
}
</script>
