<template>
  <PreloaderWrapper :showPreloader="pending">
    <div class="row">
      <div class="col-lg-12 margin-tb">
        <h2>
          Редактирование поставщика
        </h2>
        <p>
          <BackButton :to="{ name: 'suppliers' }" />
        </p>
      </div>
    </div>

    <SupplierForm
      :supplier="supplier"
      :supplierPricelists="supplierPricelists"
      @change="change"
      @emitSave="update"
    />
  </PreloaderWrapper>
</template>

<script>
import { mapMutations, mapActions } from 'vuex';

import BackButton from '@/components/UI/Buttons/BackButton';

import supplierForm from '@/mixins/supplierForm';

import Supplier from '@/classes/Supplier';

import { getSupplierRequest, updateSupplierRequest } from '@/requestManager/SupplierRequests';

export default {
  name: 'EditSupplierView',
  components: {
    BackButton,
  },
  mixins: [ supplierForm ],

  data: () => ({
    supplier: new Supplier(),
  }),

  async created() {
    this.pending = true;

    await Promise.all([
      this.localLoadSupplier(),
      this.loadSupplierPricelists(),
    ]);

    this.pending = false;
  },

  methods: {
    ...mapMutations('suppliers', [
      'UPDATE_SUPPLIER',
    ]),

    ...mapActions('supplierPricelists', [
      'loadSupplierPricelists',
    ]),

    change(field, value) {
      this.supplier[field] = value;
    },
    async update() {
      this.pending = true;
      const response = await updateSupplierRequest(this.supplier);
      this.pending = false;

      if (!response.data.success) {
        // TODO: показать всплывающее окно с ошибкой
        return;
      }

      this.UPDATE_SUPPLIER({
        supplier: this.supplier,
      });

      await this.$router.push({
        name: 'suppliers',
      });
    },

    async localLoadSupplier() {
      const response = await getSupplierRequest(this.$route.params.id);
      this.supplier = new Supplier(response.data.supplier);
    },
  },
}
</script>
