<template>
  <div>
    <div class="row">
      <div class="col-lg-12 margin-tb">
        <div class="pull-left">
          <h2>Поставщики</h2>
        </div>
        <p class="pull-right">
          <router-link class="btn btn-success" to="/suppliers/create">
            Добавить поставщика
          </router-link>
        </p>
      </div>
    </div>

    <PreloaderWrapper :showPreloader="!suppliersInitialized || pending">
      <table class="table table-striped">
        <thead>
          <tr>
            <th>#</th>
            <th>Имя</th>
            <th>Телефон</th>
            <th>Адрес</th>
            <th style="width: 120px;">Действие</th>
          </tr>
        </thead>
        <tbody>
          <tr v-for="(supplier, i) in paginatedSuppliers">
            <td>{{ startItemIndex + i + 1 }}</td>
            <td>{{ supplier.name }}</td>
            <td>{{ supplier.phone }}</td>
            <td>{{ supplier.address }}</td>
            <td>
              <router-link
                :to="{ name: 'suppliers-edit', params: { id: supplier.id } }"
                class="btn btn-primary"
              >
                <VIcon name='pen' />
              </router-link>

              <DeleteButton @click="deleteConfirm(supplier.id)" />
            </td>
          </tr>

          <tr v-if="suppliers.length === 0">
            <td colspan="5">Поставщиков нет</td>
          </tr>
        </tbody>
      </table>
    </PreloaderWrapper>

    <Pagination
      v-if="suppliersInitialized"
      :selectedPage="pageIndex"
      :itemsCount="suppliers.length"
      :perPage="PER_PAGE"
      @select="pageIndex = $event"
    />
  </div>
</template>

<script>
import { mapState, mapActions } from 'vuex';

import DeleteButton from '@/components/UI/Buttons/DeleteButton';

import pagination from '@/mixins/pagination';

export default {
  name: 'SuppliersView',
  components: {
    DeleteButton,
  },
  mixins: [
    pagination,
  ],

  data: () => ({
    pageIndex: 0,
    pending: false,
  }),
  computed: {
    ...mapState('suppliers', [
      'suppliersInitialized',
      'suppliers',
    ]),

    paginatedSuppliers() {
      return this.paginatedItems(this.suppliers, this.PER_PAGE, this.pageIndex);
    },

    startItemIndex() {
      return this.pageIndex * this.PER_PAGE;
    },
  },

  async mounted() {
    await this.loadSuppliers();
  },

  methods: {
    ...mapActions('suppliers', [
      'loadSuppliers',
      'deleteSupplier',
    ]),

    async deleteConfirm(id) {
      if (confirm('Хотите удалить этот элемент?')) {
        this.pending = true;
        await this.deleteSupplier(id);

        this.pending = false;
      }
    },
  },
}
</script>
