<template>
  <tr :class="doc.docType">
    <!-- # -->
    <td>{{ (index + 1) }}</td>

    <!-- Документ -->
    <td v-html="doc.echoDocTitleWithComment()"></td>

    <!-- Счет поставки -->
    <td>
      {{ invoiceText }}
    </td>

    <!-- Дата -->
    <td>{{ doc.date }}</td>

    <!-- Поставка -->
    <td>{{ docSupplyAmount }}</td>

    <!-- Итог -->
    <td>{{ docTotal }}</td>

    <!-- Действие -->
    <td class="g-hide-on-print">
      <EditDocButton :id="doc.id" :type="doc.docType" />
      <DeleteButton @click="$emit('callDeleteSupply', doc.id)" />
    </td>
  </tr>
</template>

<script>
import EditDocButton from '@/components/UI/Buttons/EditDocButton';
import DeleteButton from '@/components/UI/Buttons/DeleteButton';

import { getBeautyMoney } from '@/helpers/helpers';

import { DOC_TYPES } from '@/constants/docTypes';

export default {
  name: 'ReportBySuppliesFormLine',
  components: {
    EditDocButton,
    DeleteButton,
  },

  props: {
    doc: Object,
    index: Number,
    currencyId: Number,
  },
  data: () => ({
    DOC_TYPES,
  }),
  computed: {
    docSupplyAmount() {
      return this.getAmountWithCurrency(this.doc.amount);
    },
    docTotal() {
      return this.getAmountWithCurrency(this.doc.docDebt);
    },
    invoiceText() {
      return '';
    },
  },

  methods: {
    getBeautyMoney,
    getAmountWithCurrency(amount) {
      return this.getBeautyMoney(amount, this.currencyId);
    },
  },
}
</script>

