<template>
  <PreloaderWrapper :showPreloader="pending" class="card mb-3">
    <HiddenTokenField />
    <div class="card-header">Создание поставки</div>

    <div class="card-body">
      <SupplyForm
        :supply="supply"
        disableSupplierField
        @change="$emit('change', $event)"
        @callSave="$emit('callSave', $event)"
      />
    </div>
  </PreloaderWrapper>
</template>

<script>
import { mapGetters } from 'vuex';

import HiddenTokenField from '@/components/UI/HiddenTokenField'
import SupplyForm from '@/components/Supplies/SupplyForm';

import { getCurrencyById } from '@/helpers/currencies';

export default {
  name: 'ReportBySuppliesAddSupply',
  components: {
    HiddenTokenField,
    SupplyForm,
  },

  model: {
    prop: 'supply',
    event: 'change',
  },
  props: {
    supply: Object,
    supplier: Object,
    pending: Boolean,
    reloadCall: Boolean,
  },
  data: () => ({
    newPayment: {},
  }),
  computed: {
    ...mapGetters('suppliers', [
      'getSupplier',
    ]),

    supplierName() {
      return this.supplier
        ? this.supplier.name
        : '-';
    },
    currency() {
      if (!this.supplier) {
        return null;
      }

      return getCurrencyById(this.supplier.currency_id);
    },
    currencyName() {
      return this.currency
        ? this.currency.name
        : null;
    }
  },
  watch: {
    supply: {
      immediate: true,
      deep: true,
      handler() {
        this.newPayment = this.supply;
      },
    },
    newPayment: {
      immediate: true,
      deep: true,
      handler() {
        this.$emit('change', this.newPayment);
      },
    },
  },
}
</script>
