<template>
  <PreloaderWrapper :showPreloader="showPreloader">
    <SearchBlock
      v-model="pricelistSearch"
      label="Фильтр по прайс-листам"
      htmlId="pricelistSearch"
      placeholder="Начните вводить название прайс-листа, и фильтр применится..."
    />

    <table class="table table-striped">
      <thead>
        <tr>
          <th>#</th>
          <th>Название</th>
          <th>Привязка к евро</th>
          <th class="g-hide-on-print" style="width: 160px;">Действие</th>
        </tr>
      </thead>
      <tbody>
        <template v-if="filteredPricelists.length !== 0">
          <tr v-for="(pricelist, i) in filteredPricelists">
            <td>{{ (i + 1) }}</td>
            <td>{{ pricelist.name }}</td>
            <td>
              <ToggleButton
                name="assigned_to_euro"
                :disabled="true"
                :value="!!pricelist.assigned_to_euro"
              />
            </td>
            <td>
              <a class="btn btn-primary" :href="`/supplier-pricelists/${pricelist.id}`">
                <VIcon name='eye' />
              </a>
              <a class="btn btn-primary" :href="`/supplier-pricelists/${pricelist.id}/edit`">
                <VIcon name="pen" />
              </a>
              <a class="btn btn-danger" href="javascript: void(0);" @click="deletePricelist(pricelist.id)">
                <VIcon name="trash" />
              </a>
            </td>
          </tr>
        </template>

        <tr v-else>
          <td colspan="4">Товары не найдены</td>
        </tr>
      </tbody>
    </table>
  </PreloaderWrapper>
</template>

<script>
import { mapState, mapActions } from 'vuex';
import { ToggleButton } from 'vue-js-toggle-button';

import SearchBlock from '@/components/UI/SearchBlock';

import { getMeta } from '@/helpers/template';

import { deletePriceListRequest } from '@/requestManager/SupplierRequests';

export default {
  // 1
  name: 'SupplierPricelists',
  components: {
    ToggleButton,
    SearchBlock,
  },

  // 2
  data: () => ({
    pricelistSearch: '',
    showPreloader: true,
  }),
  computed: {
    ...mapState('supplierPricelists', [
      'supplierPricelists',
    ]),

    filteredPricelists() {
      const pricelistSearch = this.pricelistSearch.toLowerCase();

      return (this.pricelistSearch === '')
        ? this.supplierPricelists
        : this.supplierPricelists.filter(
          pricelist => pricelist.name.toLowerCase().indexOf(pricelistSearch) >= 0
        );
    },
  },

  // 3
  async created() {
    await this.loadSupplierPricelists();
    this.showPreloader = false;
  },

  // 4
  methods: {
    ...mapActions('supplierPricelists', [
      'loadSupplierPricelists',
    ]),

    getMeta,

    async deletePricelist(id) {
      if (!confirm('Хотите удалить этот элемент?')) {
        return false;
      }

      this.showPreloader = true;

      await deletePriceListRequest(id);

      await this.loadSupplierPricelists();

      this.showPreloader = false;
    },

    serialize(object) {
      return JSON.stringify(object)
        .replace(/['"\{\}]/g, '')
        .replace(/:/g, '=')
        .replace(/,/g, '&');
    },
  },
}
</script>
