<template>
  <FloatNumber
    :initvalue="value"
    type="text"
    class="settings-euro-price-edit-field form-control"
    @input="$emit('input', $event)"
  />
</template>

<script lang="ts">
import Vue from 'vue';

export default Vue.extend({
  name: 'SettingsEuroPriceEditField',

  props: {
    value: {
      type: Number,
      default: 0,
    },
  },
});
</script>

<style lang="scss" scoped>
.settings-euro-price-edit-field {
  display: inline-block;
  width: 60%;
}
</style>
