<template>
  <tr>
    <td>{{ $dayjs(oldCurrency.created_at * 1000).format('DD.MM.YYYY HH:mm') }}</td>
    <td>
      <SettingsEuroPriceEditField
        :value="+oldCurrency.value"
        disabled
      />
      руб.
    </td>
    <td></td>
  </tr>
</template>

<script lang="ts">
import Vue from 'vue';

import SettingsEuroPriceEditField from '@/featureSliced/areas/settings/settingsEuroPriceEdit/components/SettingsEuroPriceEditField.vue';

export default Vue.extend({
  name: 'SettingsEuroPriceEditLine',
  components: {
    SettingsEuroPriceEditField,
  },

  props: {
    oldCurrency: {
      type: Object,
      required: true,
    },
  },
});
</script>

<style lang="scss" scoped>

</style>
