<template>
  <table class="table table-striped">
    <thead>
      <th>Время установки</th>
      <th>Курс евро</th>
      <th></th>
    </thead>
    <tbody>
      <tr>
        <td>Новое значение</td>
        <td>
          <SettingsEuroPriceEditField
            v-if="currenciesHistory.length"
            v-model="euroPriceInAField"
            name="dollar_price"
            required
            @keypress.native.enter="updateEuroPrice"
          />
          руб.
        </td>
        <td>
          <button
            type="button"
            class="btn btn-primary"
            @click="updateEuroPrice"
          >
            Сохранить
          </button>
        </td>
      </tr>

      <SettingsEuroPriceEditLine
        v-for="(oldCurrency, i) in currenciesHistory"
        :key="oldCurrency.id"
        :oldCurrency="oldCurrency"
        class="settings-euro-price__old-currency-line"
        :class="{ 'settings-euro-price__old-currency-line_active': selectedOldCurrencies.includes(oldCurrency.id) }"
        @click.native="selectCurrency(i, oldCurrency.id)"
      />
    </tbody>
  </table>
</template>

<script lang="ts">
import Vue from 'vue';

import SettingsEuroPriceEditField from '@/featureSliced/areas/settings/settingsEuroPriceEdit/components/SettingsEuroPriceEditField.vue';
import SettingsEuroPriceEditLine from '@/featureSliced/areas/settings/settingsEuroPriceEdit/components/SettingsEuroPriceEditLine.vue';

export default Vue.extend({
  name: 'SettingsEuroPriceEditTable',
  components: {
    SettingsEuroPriceEditField,
    SettingsEuroPriceEditLine,
  },

  props: {
    currenciesHistory: {
      type: Array,
      required: true,
    },
    selectedOldCurrencies: {
      type: Array,
      required: true,
    },
  },
  data: () => ({
    euroPriceInAField: 0,
  }),
  watch: {
    'currenciesHistory.length'() {
      // @ts-ignore
      this.euroPriceInAField = +(this.currenciesHistory[0].value);
    },
  },

  methods: {
    selectCurrency(i: number, oldCurrencyId: number) {
      if (i === 0) {
        return;
      }

      this.$emit('selectCurrency', oldCurrencyId);
    },
    updateEuroPrice() {
      this.$emit('updateEuroPrice', this.euroPriceInAField);
    },
  },
});
</script>

<style lang="scss" scoped>
.settings-euro-price__old-currency-line {
  cursor: pointer;

  &_active {
    background-color: #1b4b72 !important;
  }

  &:hover {
    background-color: #718BA2 !important;
  }
}
</style>
