<template>
  <div>
    <div class="row">
      <div class="col-lg-12 margin-tb">
        <h2>Грузить на склад</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <p>Показаны документы, для которых все указанные фильтры выполняются одновременно.</p>
      </div>
    </div>

    <!-- 1 -->
    <div class="row">
      <DateField
        v-model="filter.from"
        :disabled="pending"
        class="col-md-3"
        @input="updateFilter()"
      >
        Дата от
      </DateField>

      <DateField
        v-model="filter.to"
        :disabled="pending"
        class="col-md-3"
        @input="updateFilter()"
      >
        Дата до
      </DateField>

      <SupplierField
        v-model="filter.supplierId"
        class="col-md-3"
        @change="updateSupplySupplierClientAndDocs()"
      />

      <div class="col-md-3">
        <div class="form-group">
          <strong>&nbsp;</strong>
          <button
            class="btn btn-success form-control"
            :disabled="!filterSupplier"
            @click="showAddPaymentForm = !showAddPaymentForm"
          >
            {{ showAddPaymentForm ? 'Скрыть добавление поставки' : 'Добавить поставку' }}
          </button>
        </div>
      </div>
    </div>

    <!-- 2 v-show потому что не хотим уничтожать данные поставки при скрытии -->
    <ReportBySuppliesAddSupply
      v-show="showAddPaymentForm"
      v-model="newSupply"
      :key="supplyComponentCreated"
      :supplier="filterSupplier"
      :pending="pendingNewSupply"
      @callSave="saveNewSupply"
    />

    <!-- 3 -->
    <ReportBySuppliesTable
      :showPreloader="pending"
      :supplierIsSet="supplierIsSet"
      :fieldDatesAreOk="fieldDatesAreOk"
      :docs="docs"
      :shownCurrencyId="shownCurrencyId"
      :totalSold="totalSold"
      :totalPaid="totalPaid"
      :total="total"
      @callDeleteSupply="deleteSupply($event)"
    />
  </div>
</template>

<script>
import { mapState, mapGetters, mapActions } from 'vuex';

import { getFormDataParams } from '@/mixins/supplyFormParent';

import Autocomplete from '@/components/UI/Autocomplete';
import DateField from '@/components/UI/Fields/DateField';
import SupplierField from '@/components/UI/Fields/SupplierField';
import ReportBySuppliesAddSupply from '@/components/Reports/ReportBySupplies/ReportBySuppliesAddSupply';
import ReportBySuppliesTable from '@/components/Reports/ReportBySupplies/ReportBySuppliesTable';

import Payment from '@/classes/Payment';
import Supply from '@/classes/Supply';

Payment.prototype.echoDocTitleWithComment = function () {
  let echoString = `Оплата № ${this.number}`;

  if (this.comment) {
    echoString += `<i><br/>${this.comment}</i>`;
  }

  return echoString;
}
Supply.prototype.echoDocTitleWithComment = function () {
  let echoString = `Поставка № ${this.number}`;

  if (this.comment) {
    echoString += `<i><br/>${this.comment}</i>`;
  }

  return echoString;
}

import { getSuppliersReportRequest } from '@/requestManager/ReportRequests';
import { createSupplyRequest, deleteSupplyRequest } from '@/requestManager/SupplyRequests';

import { currencies } from '@/constants/currencies';

export default {
  name: 'ReportBySupplies',
  components: {
    SupplierField,
    DateField,
    Autocomplete,
    ReportBySuppliesAddSupply,
    ReportBySuppliesTable,
  },
  mixins: [
    getFormDataParams,
  ],

  data: () => ({
    docs: [],
    filter: {
      supplierId: null,
      from: '',
      to: '',
    },
    newSupply: new Supply({
      currencyId: currencies.EURO,
    }),
    showAddPaymentForm: false,
    pending: false,
    pendingNewSupply: false,
    totalPaid: 0,
    totalSold: 0,
    total: 0,
    supplyComponentCreated: +new Date(),
  }),
  computed: {
    ...mapState('suppliers', [
      'suppliers',
    ]),
    ...mapGetters('suppliers', [
      'getSupplier',
    ]),

    fieldDatesAreOk() {
      return Date.parse(this.filter.from) <= Date.parse(this.filter.to);
    },
    supplierIsSet() {
      return this.filterSupplier !== null;
    },
    filterSupplier() {
      return this.filter.supplierId
        ? this.getSupplier(this.filter.supplierId)
        : null;
    },
    shownCurrencyId() {
      return this.filterSupplier
        ? this.filterSupplier.currency_id
        : null;
    },
  },

  async created() {
    this.initFilterDateFields();
    this.newSupply.date = this.filter.to;

    const supplierURLSearchParams = new URLSearchParams(window.location.search);
    const urlSupplierId = supplierURLSearchParams.get('supplier_id');

    if (urlSupplierId !== null) {
      await Promise.all([
        this.updateFilter(+urlSupplierId),
        this.loadSuppliers(),
        this.loadProductsWithSupplyPrices(),
        this.loadSupplierPricelists(),
      ]);
    } else {
      await Promise.all([
        this.loadSuppliers(),
        this.loadProductsWithSupplyPrices(),
        this.loadSupplierPricelists(),
      ]);
    }

    if (urlSupplierId !== null) {
      const selectedSupplier = this.getSupplier(+urlSupplierId);

      if (selectedSupplier) {
        this.filter.supplierId = selectedSupplier.id;
      }
    }
  },

  methods: {
    ...mapActions('suppliers', [
      'loadSuppliers',
    ]),

    ...mapActions('supplierPricelists', [
      'loadSupplierPricelists',
    ]),

    ...mapActions('products', [
      'loadProductsWithSupplyPrices',
    ]),

    initFilterDateFields() {
      const dates = this.$root.getDaysForCalendarFields();

      this.filter.from = dates['firstDayOfCurrentMonth'];
      this.filter.to = dates['currentDay'];
    },

    updateSupplySupplierClientAndDocs() {
      if (this.filterSupplier) {
        // при попытке просто переопределить supplierId, он не перерисовывается в поле поставщика
        this.newSupply = new Supply({
          ...this.newSupply,
          supplierId: this.filter.supplierId,
        })
      }

      this.updateFilter();
    },
    async saveNewSupply(form) {
      this.pendingNewSupply = true;

      const formParams = this.getFormDataParams(form, this.newSupply);
      await createSupplyRequest(formParams);
      this.newSupply = new Supply({
        supplierId: this.filter.supplierId,
        currencyId: currencies.EURO,
        date: this.$dayjs().format('YYYY-MM-DD'),
      });
      this.pendingNewSupply = false;
      this.supplyComponentCreated = +new Date();
      await this.updateFilter();
    },

    async updateFilter(forcedSupplierId = undefined) {
      if (!this.fieldDatesAreOk
        || (!this.supplierIsSet && !forcedSupplierId)) {
        return;
      }

      this.pending = true;

      let params = {
        from: this.filter.from,
        to: this.filter.to,
        supplierId: forcedSupplierId
          ? forcedSupplierId
          : this.filter.supplierId,
      }

      const response = await getSuppliersReportRequest(params);

      this.docs = response.data.docsCollection.map((dbDoc) => {
        return dbDoc.docType === 'supply'
          ? new Supply(dbDoc)
          : new Payment(dbDoc);
      }).reverse();

      this.total = response.data.total;

      if (this.docs.length > 0) {
        // переберем документы
        this.docs.forEach(doc => {
          // если поставка от поставщика
          if (doc.docType === 'supply') {
            this.totalSold -= doc.amount;
          }
          // если платеж для поставщика
          else if (doc.docType === 'payment') {
            this.totalPaid += doc.amount;
          } else {
            console.error(`Невалидный тип документа`, doc.docType);
          }
        });
      }

      this.updateTotal();
      this.pending = false;
    },
    updateTotal() {
      let totalSold = 0,
        totalPaid = 0;

      if (this.docs.length > 0) {
        // переберем документы
        this.docs.forEach((doc) => {
          // если поставка от поставщика
          if (doc.docType === 'supply') {
            totalSold += doc.amount;
          }
          // если оплата поставщику
          else if (doc.docType === 'payment') {
            totalPaid += doc.amount;
          }
        });
      }

      // 1 продали товара на сумму
      this.totalSold = totalSold;

      // 2 оплатили проданного на сумму
      this.totalPaid = totalPaid;
    },

    async deleteSupply(supplyId) {
      this.pending = true;
      await deleteSupplyRequest(supplyId);
      await this.updateFilter();
      this.pending = false;
    },
  },
}
</script>
