<template>
  <div>
    <div class="row">
      <div class="col-lg-12 margin-tb">
        <h2>Платежи клиентов</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <p>Показаны документы, для которых все указанные фильтры выполняются одновременно.</p>
      </div>
    </div>

    <!-- 1 -->
    <div class="row">
      <DateField
        v-model="filter.from"
        class="col-md-3"
        @input="updateFilter()"
      >
        Дата от
      </DateField>
      <DateField
        v-model="filter.to"
        class="col-md-3"
        @input="updateFilter()"
      >
        Дата до
      </DateField>
<!--      <div class="col-md-3">-->
<!--        <div class="form-group">-->
<!--          <strong>Клиент</strong>-->
<!--          <Autocomplete-->
<!--            v-model="filter.clientId"-->
<!--            :list="clients"-->
<!--            placeholder="Выберите клиента"-->
<!--            @input="chooseClient"-->
<!--          />-->
<!--        </div>-->
<!--      </div>-->
      <ClientField
        v-model="filter.clientId"
        hideArchived
        class="col-md-3"
        @change="chooseClient"
      />
      <div class="col-md-3">
        <div class="form-group">
          <strong>&nbsp;</strong>
          <button
            :disabled="!filter.clientId"
            class="btn btn-success form-control"
            @click="toggleAddPaymentFormShowing()"
          >
            {{ showAddPaymentForm ? 'Скрыть добавление платежа' : 'Добавить платеж' }}
          </button>
        </div>
      </div>
    </div>

    <!-- 2 -->
    <div v-if="showAddPaymentForm" class="card mb-3">
      <div class="card-header">Добавление платежа</div>

      <div class="card-body">
        <div class="row">
          <div class="col-md-3">
            <div class="form-group">
              <strong>Сумма</strong>
              <FloatNumber
                v-model="newPayment.amount"
                required
                negative
                class="form-control"
                @keyup.native.enter="saveNewPayment()"
              />
            </div>
          </div>
          <div class="col-md-3">
            <div class="form-group">
              <strong>Дата</strong>
              <input
                v-model="newPayment.date"
                type="date"
                class="form-control"
                @keyup.enter="saveNewPayment()"
              />
            </div>
          </div>
          <div class="col-md-3">
            <div class="form-group">
              <strong>Клиент</strong>
              <input
                v-model="newPayment.clientName"
                disabled="disabled"
                type="text"
                class="form-control"
              />
            </div>
          </div>
        </div>

        <!-- 3 -->
        <div class="row">
          <div class="col-md-9">
            <div class="form-group">
              <strong>Комментарий</strong>
              <input
                v-model="newPayment.comment"
                type="text"
                class="form-control"
                @keyup.enter="saveNewPayment()"
              />
            </div>
          </div>
          <div class="col-md-3">
            <div class="form-group">
              <strong>&nbsp;</strong>
              <a
                href="javascript: void(0);"
                class="btn btn-primary form-control"
                @click="saveNewPayment()"
              >
                Сохранить
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>

    <PreloaderWrapper :showPreloader="showPreloader">
      <table class="table table-striped">
        <thead>
          <tr>
            <th>#</th>
            <th>Документ</th>
            <th>Дата</th>
            <th>Сумма по счету</th>
            <th>Оплата</th>
            <th>Итог</th>
            <th style="width: 115px">Действие</th>
          </tr>
        </thead>
        <tbody>
          <!-- если клиент не выбран -->
          <tr v-if="filter.clientId == null">
            <td class="alert-warning" colspan="7">Выберите клиента</td>
          </tr>

          <!-- если дата "от" больше чем дата "до" -->
          <tr v-else-if="Date.parse(filter.from) > Date.parse(filter.to)">
            <td class="alert-danger" colspan="6">Ошибка: дата "от" больше чем дата "до"</td>
          </tr>

          <!-- если данных достаточно для классического отображения -->
          <template v-else>
            <template v-if="docs.length !== 0">
              <tr
                v-for="(doc, i) in docs"
                :class="doc.docType"
                :key="doc.docType + doc.id"
              >
                <!-- # -->
                <td>{{ (i + 1) }}</td>

                <!-- Документ -->
                <td v-html="doc.echoDocTitleWithComment()"></td>

                <!-- Дата -->
                <td>{{ doc.date }}</td>

                <!-- Сумма по счету -->
                <td>
                  <template v-if="doc.docType === 'invoice'">
                    {{ beautyNumber(doc.rubleAmount, { round: true }) }} руб.
                  </template>
                  <template v-else-if="doc.docType === 'payment'">-</template>
                </td>

                <!-- Оплата -->
                <td>
                  <template v-if="doc.docType === 'payment'">
                    {{ beautyNumber(doc.rubleAmount, { round: true }) }} руб.
                  </template>
                  <template v-else-if="doc.docType === 'invoice'">-</template>
                </td>

                <!-- Итог -->
                <td>{{ beautyNumber(doc.docDebt, { round: true }) }} руб.</td>

                <!-- Действие -->
                <td>
                  <a
                    class="btn btn-primary"
                    target="_blank"
                    :href="getEditLink(doc)"
                  >
                    <VIcon name='pen' />
                  </a>
                </td>
              </tr>
            </template>

            <tr v-else>
              <td colspan="7">Нет документов, соответствующих указанному фильтру.</td>
            </tr>

            <tr>
              <td></td>
              <td colspan="2" style="font-weight: bold;">Выставлено на оплату</td>
              <td colspan="4">{{ beautyNumber(totalSold, { round: true }) }} руб.</td>
            </tr>
            <tr>
              <td></td>
              <td colspan="3" style="font-weight: bold;">Оплачено</td>
              <td colspan="3">{{ beautyNumber(totalPaid, { round: true }) }} руб.</td>
            </tr>
            <tr>
              <td></td>
              <td colspan="4" style="font-weight: bold;">Итог</td>
              <td colspan="2">{{ beautyNumber(total, { round: true }) }} руб.</td>
            </tr>
          </template>

          <tr v-else>
            <td class="alert-warning" colspan="7">Выберите клиента</td>
          </tr>
        </tbody>
      </table>
    </PreloaderWrapper>
  </div>
</template>

<script>
import { mapState, mapGetters, mapActions } from 'vuex';

import Autocomplete from '@/components/UI/Autocomplete';
import DateField from '@/components/UI/Fields/DateField';
import ClientField from '@/components/UI/Fields/ClientField';

import { getPaymentsReportRequest } from '@/requestManager/ReportRequests';
import { createPaymentRequest } from '@/requestManager/PaymentRequests';

import { beautyNumber } from '@/helpers/helpers';

import Payment from '@/classes/Payment';
import Invoice from '@/classes/Invoice';

Payment.prototype.echoDocTitleWithComment = function () {
  let echoString = `Оплата № ${this.number}`;

  if (this.comment) {
    echoString += `<i><br/>${this.comment}</i>`;
  }

  return echoString;
}
Invoice.prototype.echoDocTitleWithComment = function () {
  let echoString = `Счет № ${this.number}`;

  if (this.comment) {
    echoString += `<i><br/>${this.comment}</i>`;
  }

  return echoString;
}

export default {
  name: 'ReportByClientPayments',
  components: {
    DateField,
    Autocomplete,
    ClientField,
  },

  data: () => ({
    docs: [],
    filter: {
      clientId: null,
      from: '',
      to: ''
    },
    newPayment: {
      amount: 0,
      date: null,
      client_id: null,
      clientName: '-',
      comment: '',
    },
    showAddPaymentForm: false,
    showPreloader: false,
    totalPaid: 0,
    totalSold: 0,
    total: 0,
  }),
  computed: {
    ...mapState('clients', [
      'clients',
    ]),
    ...mapGetters('clients', [
      'getClient',
    ]),

    filterClient() {
      return this.filter.clientId
        ? this.getClient(this.filter.clientId)
        : null;
    },
  },

  async created() {
    this.initFilterFields();
    this.newPayment.date = this.filter.to;
    await this.loadClients();
  },


  methods: {
    ...mapActions('clients', [
      'loadClients',
    ]),

    beautyNumber,
    chooseClient() {
      if (this.filterClient) {
        this.newPayment.client_id = this.filterClient.id;
        this.newPayment.clientName = this.filterClient.name;
      }

      this.updateFilter();
    },
    getEditLink(doc) {
      return '/' + ((doc.docType === 'invoice')
          ? 'invoices'
          : 'payments')
        + '/' + doc.id
        + '/edit';
    },
    initFilterFields() {
      const dates = this.$root.getDaysForCalendarFields();

      this.filter.from = dates['firstDayOfCurrentMonth'];
      this.filter.to = dates['currentDay'];
    },
    async saveNewPayment() {
      this.showPreloader = true;

      let newPayment = {
        amount: +this.newPayment.amount,
        client_id: this.newPayment.client_id,
        comment: this.newPayment.comment,
        date: this.newPayment.date,
      }
      await createPaymentRequest(newPayment);
      this.newPayment.amount = '';
      this.newPayment.comment = '';
      await this.updateFilter();
    },
    toggleAddPaymentFormShowing() {
      this.showAddPaymentForm = !this.showAddPaymentForm;
    },
    async updateFilter() {
      if (this.filter.clientId === null) {
        return;
      }

      this.showPreloader = true;

      const response = await getPaymentsReportRequest(this.filter);

      this.docs = response.data.docsCollection.map(dbDoc =>
        dbDoc.docType === 'invoice'
          ? new Invoice(dbDoc)
          : new Payment(dbDoc)
      ).reverse();

      this.total = response.data.total;

      if (this.docs.length > 0) {
        // переберем документы
        this.docs.forEach((doc) => {
          // если счет от клиента
          if (doc.docType === 'invoice') {
            this.totalSold += doc.rubleAmount;
          }
          // если платеж от клиента
          else if (doc.docType === 'payment') {
            this.totalPaid += doc.rubleAmount;
          }
        });
      }

      this.updateTotal();
      this.showPreloader = false;
    },
    updateTotal() {
      let totalSold = 0,
        totalPaid = 0;

      if (this.docs.length > 0) {
        // переберем документы
        this.docs.forEach((doc) => {
          // если поставка от поставщика
          if (doc.docType === 'invoice') {
            totalSold += doc.rubleAmount;
          }
          // если счет на клиента
          else if (doc.docType === 'payment') {
            totalPaid += doc.rubleAmount;
          }
        });
      }

      // 1 продали товара на сумму
      this.totalSold = totalSold;

      // 2 оплатили проданного на сумму
      this.totalPaid = totalPaid;
    },
  },
}
</script>
