<template>
  <div>
    <div class="row">
      <div class="col-lg-12 margin-tb">
        <h2>Сверка поставщиков</h2>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">
        <p>Показаны документы, для которых все указанные фильтры выполняются одновременно.</p>
      </div>
    </div>

    <!-- 1 -->
    <div class="row">
      <DateField
        v-model="filter.from"
        :disabled="pending"
        class="col-md-3"
        @input="updateFilter()"
      >
        Дата от
      </DateField>

      <DateField
        v-model="filter.to"
        :disabled="pending"
        class="col-md-3"
        @input="updateFilter()"
      >
        Дата до
      </DateField>

      <SupplierField
        v-model="filter.supplierId"
        :disabled="pending"
        class="col-md-6"
        @change="updateFilter()"
      />
    </div>

    <!-- 2 -->
    <div class="row">
      <div class="col-md-6">
        <div class="form-group">
          <strong>&nbsp;</strong>
          <button
            :disabled="!filterSupplier"
            class="btn btn-outline-primary form-control"
            @click="toggleFormShowing(FORM_TO_SHOW.SUPPLIER_INVOICE)"
          >
            {{ showAddPaymentForm ? 'Скрыть добавление счета' : 'Добавить счет' }}
          </button>
        </div>
      </div>

      <div class="col-md-6">
        <div class="form-group">
          <strong>&nbsp;</strong>
          <button
            :disabled="!filterSupplier"
            class="btn btn-outline-success form-control"
            @click="toggleFormShowing(FORM_TO_SHOW.PAYMENT)"
          >
            {{ showAddPaymentForm ? 'Скрыть добавление платежа' : 'Добавить платеж' }}
          </button>
        </div>
      </div>
    </div>

    <!-- 3 -->
    <ReportRevisionBySuppliersAddPayment
      v-if="shownForm === FORM_TO_SHOW.PAYMENT"
      v-model="newPayment"
      :supplier="filterSupplier"
      :pending="pending"
      @callSave="saveNewPayment"
    />
    <ReportRevisionBySuppliersAddSupplierInvoice
      v-else-if="shownForm === FORM_TO_SHOW.SUPPLIER_INVOICE"
      v-model="newSupplierInvoice"
      :supplier="filterSupplier"
      :pending="pending"
      @callSave="saveNewSupplierInvoice"
    />

    <!-- 4 -->
    <ReportRevisionBySuppliersTable
      :showPreloader="pending"
      :supplierIsSet="supplierIsSet"
      :fieldDatesAreOk="fieldDatesAreOk"
      :docs="docs"
      :shownCurrencyId="shownCurrencyId"
      :totalSold="totalSold"
      :totalPaid="totalPaid"
      :total="total"
      @callDeleteSupplierInvoice="deleteSupplierInvoice($event)"
      @callDeletePayment="deletePayment($event)"
    />
  </div>
</template>

<script>
import { mapState, mapGetters, mapActions } from 'vuex';

import Autocomplete from '@/components/UI/Autocomplete';
import ReportRevisionBySuppliersAddPayment from '@/components/Reports/ReportRevisionBySuppliers/ReportRevisionBySuppliersAddPayment';
import ReportRevisionBySuppliersAddSupplierInvoice from '@/components/Reports/ReportRevisionBySuppliers/ReportRevisionBySuppliersAddSupplierInvoice';
import ReportRevisionBySuppliersTable from '@/components/Reports/ReportRevisionBySuppliers/ReportRevisionBySuppliersTable';

import Payment from '@/classes/Payment';
import SupplierInvoice from '@/classes/SupplierInvoice';

Payment.prototype.echoDocTitleWithComment = function () {
  let echoString = `Оплата № ${this.number}`;

  if (this.comment) {
    echoString += `<i><br/>${this.comment}</i>`;
  }

  return echoString;
}
SupplierInvoice.prototype.echoDocTitleWithComment = function () {
  let echoString = `Счет № ${this.number}`;

  if (this.comment) {
    echoString += `<i><br/>${this.comment}</i>`;
  }

  return echoString;
}

import { getRevisionBySuppliersReportRequest } from '@/requestManager/ReportRequests';
import { createSupplierInvoiceRequest, deleteSupplierInvoiceRequest } from '@/requestManager/SupplierInvoiceRequests';
import { createPaymentRequest, deletePaymentRequest } from '@/requestManager/PaymentRequests';

import { DOC_TYPES } from '@/constants/docTypes';
import SupplierField from "../../components/UI/Fields/SupplierField";
import DateField from "../../components/UI/Fields/DateField";

export default {
  name: 'ReportBySupplierPayments',
  components: {
    DateField,
    SupplierField,
    Autocomplete,
    ReportRevisionBySuppliersAddPayment,
    ReportRevisionBySuppliersAddSupplierInvoice,
    ReportRevisionBySuppliersTable,
  },

  data: () => ({
    DOC_TYPES,
    FORM_TO_SHOW: {
      SUPPLIER_INVOICE: 'ADDING_AN_SUPPLIER_INVOICE',
      PAYMENT: 'ADDING_A_PAYMENT',
    },
    docs: [],
    filter: {
      supplierId: null,
      from: '',
      to: '',
    },

    newPayment: {
      amount: 0,
      date: null,
      supplier_id: null,
      comment: '',
    },
    newSupplierInvoice: {
      amount: 0,
      date: null,
      clientId: null,
      comment: '',
    },

    shownForm: null,
    showAddPaymentForm: false,
    pending: false,

    totalPaid: 0,
    totalSold: 0,
    total: 0,
  }),
  computed: {
    ...mapState('suppliers', [
      'suppliers',
    ]),
    ...mapGetters('suppliers', [
      'getSupplier',
    ]),

    fieldDatesAreOk() {
      return Date.parse(this.filter.from) <= Date.parse(this.filter.to);
    },
    supplierIsSet() {
      return this.filterSupplier !== null;
    },
    filterSupplier() {
      return this.filter.supplierId
        ? this.getSupplier(this.filter.supplierId)
        : null;
    },
    shownCurrencyId() {
      return this.filterSupplier
        ? this.filterSupplier.currency_id
        : null;
    },
  },

  async mounted() {
    this.initFilterDateFields();
    this.newPayment.date = this.filter.to;
    this.newSupplierInvoice.date = this.filter.to;

    const supplierURLSearchParams = new URLSearchParams(window.location.search);
    const urlSupplierId = supplierURLSearchParams.get('supplier_id');

    if (urlSupplierId !== null) {
      await Promise.all([
        this.updateFilter(+urlSupplierId),
        this.loadSuppliers(),
        this.loadClients(),
      ]);
    } else {
      await Promise.all([
        this.loadSuppliers(),
        this.loadClients(),
      ]);
    }

    if (urlSupplierId !== null) {
      const selectedSupplier = this.getSupplier(+urlSupplierId);

      if (selectedSupplier) {
        this.filter.supplierId = selectedSupplier.id;
      }
    }
  },

  methods: {
    ...mapActions('clients', [
      'loadClients',
    ]),

    ...mapActions('suppliers', [
      'loadSuppliers',
    ]),

    initFilterDateFields() {
      const dates = this.$root.getDaysForCalendarFields();

      this.filter.from = dates['firstDayOfCurrentMonth'];
      this.filter.to = dates['currentDay'];
    },

    async saveNewPayment() {
      this.pending = true;

      await createPaymentRequest({
        amount: +this.newPayment.amount,
        supplier_id: this.filter.supplierId,
        comment: this.newPayment.comment,
        date: this.newPayment.date,
      });

      this.newPayment.amount = '';
      this.newPayment.comment = '';
      await this.updateFilter();
    },
    async saveNewSupplierInvoice() {
      this.pending = true;

      await createSupplierInvoiceRequest({
        amount: +this.newSupplierInvoice.amount,
        supplierId: this.filter.supplierId,
        invoiceNumber: this.newSupplierInvoice.invoiceNumber,
        invoiceDate: this.newSupplierInvoice.invoiceDate,
        comment: this.newSupplierInvoice.comment,
        date: this.newSupplierInvoice.date,
      });
      this.newSupplierInvoice.amount = '';
      this.newSupplierInvoice.comment = '';
      this.newSupplierInvoice.invoiceNumber = '';
      this.newSupplierInvoice.invoiceDate = '';
      await this.updateFilter();
    },

    toggleFormShowing(formSlug) {
      if (!formSlug) {
        this.shownForm = null;
        return;
      }

      this.shownForm = this.shownForm === formSlug
        // если хотим переключить текущую форму - переключим её на выключенную
        ? null
        : formSlug;
    },
    toggleAddSupplierInvoiceFormShowing() {
      this.showAddInvoiceForm = !this.showAddInvoiceForm;
    },
    async updateFilter(forcedSupplierId = undefined) {
      if (!this.fieldDatesAreOk
        || (!this.supplierIsSet && !forcedSupplierId)) {
        return;
      }

      this.pending = true;

      let params = {
        from: this.filter.from,
        to: this.filter.to,
        supplierId: forcedSupplierId
          ? forcedSupplierId
          : this.filter.supplierId,
      }

      const response = await getRevisionBySuppliersReportRequest(params);

      this.docs = response.data.docsCollection.map((dbDoc) =>
        dbDoc.docType === DOC_TYPES.SUPPLIER_INVOICE
          ? new SupplierInvoice(dbDoc)
          : new Payment(dbDoc)
      ).reverse();

      this.total = response.data.total;

      if (this.docs.length > 0) {
        // переберем документы
        this.docs.forEach(doc => {
          // если поставка от поставщика
          if (doc.docType === DOC_TYPES.SUPPLIER_INVOICE) {
            this.totalSold -= doc.amount;
          }
          // если платеж для поставщика
          else if (doc.docType === DOC_TYPES.PAYMENT) {
            this.totalPaid += doc.amount;
          } else {
            console.error(`Невалидный тип документа`, doc.docType);
          }
        });
      }

      this.updateTotal();
      this.pending = false;
    },
    updateTotal() {
      let totalSold = 0,
        totalPaid = 0;

      if (this.docs.length > 0) {
        // переберем документы
        this.docs.forEach((doc) => {
          // если поставка от поставщика
          if (doc.docType === DOC_TYPES.SUPPLIER_INVOICE) {
            totalSold += doc.amount;
          }
          // если оплата поставщику
          else if (doc.docType === DOC_TYPES.PAYMENT) {
            totalPaid += doc.amount;
          }
        });
      }

      // 1 продали товара на сумму
      this.totalSold = totalSold;

      // 2 оплатили проданного на сумму
      this.totalPaid = totalPaid;
    },

    async deleteSupplierInvoice(docId) {
      this.pending = true;

      await deleteSupplierInvoiceRequest(docId);
      await this.updateFilter();
    },
    async deletePayment(docId) {
      this.pending = true;

      await deletePaymentRequest(docId);
      await this.updateFilter();
    },
  },
}
</script>
