.multiselect {
  font-size: 14px;

  &__tags {
    min-height: calc(2.19rem + 2px);
    padding: 0 40px 0 12px;
    border: 1px solid #ced4da;
  }

  &__placeholder {
    padding-top: 0;
    margin-top: 6px;
    margin-bottom: 7px;
  }

  &__tags-wrap {
    display: inline-block;
    clear: both;
  }

  &__tag {
    margin: 7px 8px 0 0;
  }

  &__mono {
    .multiselect__tags {
      min-height: 37px;
      padding-top: 8px;
      padding-left: 13px;

      .multiselect__input {
        margin-top: 1px;
        font-size: 14px;
        margin-bottom: 6px;
        padding-left: 0;
      }

      .multiselect__placeholder {
        padding-top: 0;
        margin-top: 0;
        margin-bottom: 0;
      }

      .multiselect__single {
        padding-left: 0;
        font-size: 14px;
        margin-top: 1px;
        margin-bottom: 7px;
      }
    }
  }

  &.multiselect__mono {
    min-height: 37px;
  }
}

.clearfix {
  clear: both;
}
