// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Vue modules
@import 'multiselect';
@import '_multiselect';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

// Global
@import '_global';

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

.b-app {
  flex-grow: 1;
}

@media screen
{
  .g-hide-on-screen {
    display: none !important;
  }
}

@media print {
  .b-total-amount,
  .b-client-field-wrapper {
    font-weight: bold;
  }

  footer,
  button,
  .btn {
    display: none !important;
  }

  .g-hide-on-print {
    display: none !important;
  }
}

.btn {
  svg {
    vertical-align: sub;
  }
}

nav[aria-label="Pagination Navigation"] {
  svg {
    width: 20px;
    max-width: 20px;
  }
}
