<template>
  <tr>
    <td>
      {{ (index + 1) }}
    </td>

    <td>
      <ProductField
        :productId="orderProduct.productId"
        :showLabel="false"
        @change="changeOrderProduct('productId', $event)"
      />
    </td>

    <td>
      <textarea
        v-model="orderProduct.comment"
        rows="2"
        class="w-100 form-control"
        @change="changeOrderProduct('comment', $event.target.value)"
      ></textarea>
    </td>

    <td class="g-hide-on-print">
      <a
        href="javascript: void(0);"
        class="btn btn-danger"
        @click="$emit('delete')"
      >
        <VIcon name='trash' />
      </a>
    </td>
  </tr>
</template>

<script>
import ProductField from '@/components/UI/Fields/ProductField';

export default {
  name: 'OrderProductsFormLine',
  components: {
    ProductField,
  },

  props: {
    orderProduct: Object,
    index: Number,
  },
  data: () => ({
    localOrderProduct: {},
  }),
  computed: {
    oldNew() {
      return (this.orderProduct.oldnew === 'old' && this.orderProduct.productId)
        ? 'old'
        : 'new'
    },
  },

  methods: {
    fieldName(field, i) {
      let prefix = 'OrderProductsForm[' + this.oldNew + ']';

      // если новый - выводим i счетчика, иначе - id записи
      prefix += (this.oldNew === 'new')
        ? '[' + i + ']'
        : '[' + this.id + ']';

      return prefix + '[' + field + ']';
    },
    changeOrderProduct(fieldName, value) {
      const localOrderProduct = {
        ...this.orderProduct,
        [fieldName]: value,
      }
      this.$emit('change', localOrderProduct);
    },
  },
}
</script>
