<template>
  <div class="order-products-form form-group justify-content-center w-100">
    <div class="card">
      <div class="card-header">Товары</div>

      <div class="card-body">
        <div class="row mb-3">
          <div class="col-2">
            <button
              type="button"
              class="btn btn-success"
              @click.stop.prevent="addLine()"
            >
              Добавить товар
            </button>
          </div>
        </div>

        <table class="table table-striped">
          <thead>
            <tr>
              <th class="th_index">#</th>
              <th class="th_name">Товар</th>
              <th class="th_comment">Комментарий</th>
              <th class="th_action g-hide-on-print"></th>
            </tr>
          </thead>
          <tbody>
            <template v-for="(product, index) in orderProducts">
              <OrderProductsFormLine
                :orderProduct="orderProducts[index]"
                :value="product"
                :index="index"
                :products="products"
                :key="product.key"
                @change="changeOrderProduct(index, $event)"
                @delete="deleteLine(index)"
              />
            </template>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</template>

<script>
import { mapState, mapActions } from 'vuex';

import OrderProductsFormLine from '@/components/widgets/orderForm/OrderProductsFormLine.vue';

const DEFAULT_ORDER_PRODUCT = {
  id: null,
  markForDeletion: false,
  name: '',
  product: null,
  productId: null,
  comment: '',
}

export default {
  name: 'OrderProductsForm',
  components: {
    OrderProductsFormLine,
  },

  model: {
    prop: 'orderProducts',
    event: 'change',
  },
  props: {
    orderProducts: Array,
    orderId: Number,
    formCreatedTime: Date,
  },
  computed: {
    ...mapState('products', [
      'products',
    ]),
  },

  async created() {
    if (!this.orderId) {
      this.addLine();
    }

    await this.loadProducts();
  },

  methods: {
    ...mapActions('products', [
      'loadProducts',
    ]),

    changeOrderProduct(index, orderProduct) {
      const updatedOrderProducts = [...this.orderProducts];
      updatedOrderProducts.splice(index, 1, orderProduct);
      this.$emit('change', updatedOrderProducts);
    },
    deleteLine(index) {
      const updatedOrderProducts = [...this.orderProducts];
      updatedOrderProducts.splice(index, 1);
      this.$emit('change', updatedOrderProducts);
    },
    addLine() {
      const newLine = {
        ...DEFAULT_ORDER_PRODUCT,
        key: this.getKey(),
      };

      this.$emit('change', [
        ...this.orderProducts,
        newLine,
      ]);
    },
    getKey() {
      return '' + Math.random();
    },
  },
}
</script>

<style scoped>
.th_action {
  width: 60px;
}
.th_name {
  width: 450px;
}
</style>
