<template>
  <PreloaderWrapper :showPreloader="showPreloader">
    <form @submit.prevent="submit">
      <div class="row">
        <ClientField
          v-model="order.clientId"
          hideArchived
          class="col-md-4"
        />

        <div class="col-md-5 form-group">
          <strong>Адрес клиента</strong>
          <div v-html="orderClient.address"></div>
        </div>

        <div class="col-md-3 form-group">
          <strong>Телефон клиента</strong>
          <div v-html="orderClient.phone"></div>
        </div>
      </div>

      <div class="row">
        <DateField
          v-model="order.date"
          class="col-md-4"
        >
          Дата
        </DateField>

        <div class="col-md-2 form-group">
          <strong>&nbsp;</strong>
          <input
            :value="orderClient.cashless ? 'Б' : 'Н'"
            type="text"
            disabled
            class="form-control"
            style="width: 60px;"
          />
        </div>
      </div>

      <div class="row">
        <OrderProductsForm
          v-model="order.products"
          :orderId="+id"
          class="col-md-12"
        />
      </div>

      <div class="col-md-12 text-center">
        <button type="submit" class="btn btn-primary">
          Сохранить
        </button>
      </div>
    </form>
  </PreloaderWrapper>
</template>

<script>
import { mapState, mapGetters, mapActions } from 'vuex';

import OrderProductsForm from '@/components/widgets/orderForm/OrderProductsForm.vue';

import ClientField from '@/components/UI/Fields/ClientField.vue';
import DateField from '@/components/UI/Fields/DateField.vue';

import { getOrderRequest, createOrderRequest, updateOrderRequest } from '@/requestManager/OrderRequests';

export default {
  name: 'OrderForm',
  components: {
    ClientField,
    DateField,
    OrderProductsForm,
  },

  props: {
    id: {
      default: null,
      required: false,
    },
  },
  data: () => ({
    pending: false,
    baseTotal: null,
    order: {
      id: null,
      clientId: null,
      date: null,
      comment: null,
      products: [],
    },
    loading: {
      clientsLoaded: false,
      orderLoaded: true,
    },
  }),
  computed: {
    ...mapState('clients', [
      'clients',
      'clientsInited',
    ]),
    ...mapGetters('clients', [
      'getClient',
    ]),

    showPreloader() {
      if (this.pending) {
        return true;
      }

      return this.id === null
        // если создание счета
        ? !(this.clientsInited)
        // если редактирование счета
        : !this.clientsInited || !this.loading.orderLoaded;
    },
    showClientLinkUrl() {
      return this.order.clientId
        ? `/clients/${this.order.clientId}/edit`
        : '';
    },
    orderClient() {
      return this.order.clientId && this.getClient(this.order.clientId)
        ? this.getClient(this.order.clientId)
        : {
          address: '---',
          debt: 0,
          id: null,
          phone: '---',
          client_pricelist_id: null,
        }
    },
  },

  async created() {
    if (this.id) {
      await Promise.all([
        this.loadExistedOrder(),
        this.loadClients(),
      ]);
    } else {
      this.initUnexistedOrder();
      await this.loadClients();
    }
  },

  methods: {
    ...mapActions('clients', [
      'loadClients',
    ]),

    async loadExistedOrder() {
      this.loading.orderLoaded = false;

      const response = await getOrderRequest(this.id);
      const { id, number, date, comment } = response.data.data;

      this.order = {
        id,
        number,
        date,
        comment,
        clientId: response.data.data.client.id,
        products: response.data.data.products.map(loopOrderProduct => ({
          id: loopOrderProduct.id,
          oldnew: 'old',
          productId: loopOrderProduct.product.id,
          comment: loopOrderProduct.comment,
        })),
      };

      this.loading.orderLoaded = true;
      this.$emit('init', this.order);
    },
    initUnexistedOrder() {
      const today = new Date();

      this.order.date = today.getFullYear()
        + '-' + ((today.getMonth() + 1 < 10) ? '0' : '') + (today.getMonth() + 1)
        + '-' + ((today.getDate() < 10) ? '0' : '') + today.getDate();
    },

    async submit() {
      this.pending = true;
      const orderProducts = this.order.products.filter(loopOrderProduct => loopOrderProduct.productId);

      const oldOrderProducts = orderProducts.reduce((oldOrderProducts, loopOrderProduct) => {
        if (loopOrderProduct.id) {
          oldOrderProducts[loopOrderProduct.id] = loopOrderProduct;
        }

        return oldOrderProducts;
      }, {});

      const newOrdeProducts = orderProducts.filter(loopOrderProduct =>
        loopOrderProduct.oldnew !== 'old',
      )

      const requestParams = {
        order: {
          client_id: this.order.clientId,
          comment: this.order.comment,
          date: this.order.date,
        },
        orderProducts: {
          'old': oldOrderProducts,
          'new': newOrdeProducts,
            // {
            //   productId: 30,
            //   oldnew: 'new',
            //   comment: '-',
            // },
        }
      };

      try {
        if (this.order.id) {
          requestParams.id = this.order.id;
          await updateOrderRequest(requestParams);
        } else {
          await createOrderRequest(requestParams);
        }

        await this.$router.push('/orders');
      } catch (e) {
        console.log(e);
      }
      this.pending = false;
    },
  },
}
</script>
