<template>
  <div>
    <ClientPriceListsHeader />

    <PreloaderWrapper :showPreloader="showPreloader">
      <SearchBlock
        v-model="priceListSearch"
        label="Фильтр по прайс-листам"
        htmlId="priceListSearch"
        placeholder="Начните вводить название прайс-листа, и фильтр применится..."
      />

      <table class="table table-striped">
        <thead>
          <tr>
            <th>#</th>
            <th>Название</th>
            <th>Привязка к евро</th>
            <th class="g-hide-on-print" style="width: 210px;">Действие</th>
          </tr>
        </thead>
        <tbody>
          <template v-if="filteredPricelists.length !== 0">
            <ClientPriceListsLine
              v-for="(priceList, i) in filteredPricelists"
              :key="priceList.id"
              :priceList="priceList"
              :index="(i + 1)"
              @callDelete="deletePricelist(priceList.id)"
            />
          </template>

          <tr v-else>
            <td colspan="4">Товары не найдены</td>
          </tr>
        </tbody>
      </table>
    </PreloaderWrapper>
  </div>
</template>

<script>
import { mapState, mapActions } from 'vuex';

import PreloaderWrapper from '@/components/Helpers/PreloaderWrapper';
import SearchBlock from '@/components/UI/SearchBlock';
import ClientPriceListsHeader from '@/featureSliced/areas/clientPriceLists/clientPricelists/components/ClientPriceListsHeader';
import ClientPriceListsLine from '@/featureSliced/areas/clientPriceLists/clientPricelists/components/ClientPricelistsLine';

import { getMeta } from '@/helpers/template';

import { deletePriceListRequest } from '@/requestManager/ClientPricelistRequests';

export default {
  name: 'ClientPricelists',
  components: {
    PreloaderWrapper,
    SearchBlock,
    ClientPriceListsHeader,
    ClientPriceListsLine,
  },

  data: () => ({
    priceListSearch: '',
    showPreloader: true,
  }),
  computed: {
    ...mapState('clientPricelists', [
      'clientPricelists',
    ]),

    filteredPricelists() {
      const priceListSearch = this.priceListSearch.toLowerCase();

      return (this.priceListSearch === '')
        ? this.clientPricelists
        : this.clientPricelists.filter(
          priceList => priceList.name.toLowerCase().indexOf(priceListSearch) >= 0
        );
    },
  },

  async created() {
    await this.loadClientPricelists();
    this.showPreloader = false;
  },

  methods: {
    ...mapActions('clientPricelists', [
      'loadClientPricelists',
    ]),

    getMeta,

    async deletePricelist(id) {
      if (!confirm('Хотите удалить этот элемент?')) {
        return false;
      }

      this.showPreloader = true;

      await deletePriceListRequest(id);
      await this.loadClientPricelists();

      this.showPreloader = false;
    },

    serialize(object) {
      return JSON.stringify(object)
        .replace(/['"\{\}]/g, '')
        .replace(/:/g, '=')
        .replace(/,/g, '&');
    },
  },
}
</script>
