<template>
  <tr>
    <td>{{ index }}</td>
    <td>{{ priceList.name }}</td>
    <td>
      <ToggleButton
        name="assigned_to_euro"
        disabled
        :value="!!priceList.assigned_to_euro"
      />
    </td>
    <td>
      <router-link
        :to="{ name: 'client-price-lists-duplicate', params: { id: priceList.id } }"
        class="btn btn-primary"
      >
        <VIcon name='clone' />
      </router-link>
      <a class="btn btn-primary" :href="`/client-pricelists/${priceList.id}`">
        <VIcon name='eye' />
      </a>
      <a class="btn btn-primary" :href="`/client-pricelists/${priceList.id}/edit`">
        <VIcon name="pen" />
      </a>
      <a href="javascript: void(0);" class="btn btn-danger" @click="$emit('callDelete')">
        <VIcon name="trash" />
      </a>
    </td>
  </tr>
</template>

<script>
import { ToggleButton } from 'vue-js-toggle-button';

export default {
  // 1
  name: 'ClientPricelistsLine',
  components: {
    ToggleButton,
  },


  props: {
    priceList: Object,
    index: Number,
  },
}
</script>
