<template>
  <div class="row">
    <div class="col-lg-12 margin-tb">
      <div class="pull-left">
        <h2>Прайс-листы клиентов</h2>
      </div>
      <p class="pull-right">
        <a href="/client-pricelists/create" class="btn btn-success">
          Добавить прайс-лист клиента
        </a>
      </p>
    </div>
  </div>
</template>

<script>
export default {
  name: 'ClientPriceListsHeader',
}
</script>
