<template>
  <a :href="href" class="btn btn-light">
    <VIcon name='download' />
  </a>
</template>

<script>
import { DOC_TYPES } from '@/constants/docTypes';

export default {
  name: 'PrintDocButton',

  props: {
    id: Number,
    docType: {
      type: String,
      required: true,
      validator: docTypeValue => [DOC_TYPES.INVOICE].includes(docTypeValue),
    },
  },
  computed: {
    href() {
      switch (this.docType) {
        case DOC_TYPES.INVOICE:
          return `/api/invoices/${this.id}/download`;
          break;
      }
    },
  },
}
</script>
