<template>
  <div class="invoice-products-form form-group justify-content-center">
    <div class="card">
      <div class="card-header">Товары</div>

      <PreloaderWrapper :showPreloader="pending">
        <div class="card-body">
          <div class="row mb-3">
            <div class="col-2">
              <!-- TODO: помещать фокус в поле выбора товара новой строки -->
              <button
                type="button"
                class="btn btn-success"
                @click.stop.prevent="addLine()"
              >
                Добавить товар
              </button>
            </div>

            <div class="col-10 d-flex justify-content-end align-items-center g-hide-on-print">
              <span
                v-show="showBarcode"
                class="invoice-products-form__barcode-input-label mr-3"
              >
                Отсканируйте штрихкод
              </span>

              <input
                v-show="showBarcode"
                v-model="barcode"
                ref="barcodeInput"
                type="text"
                class="form-control mr-2 col-3"
                @keydown.enter.prevent="onBarcodeInput"
              />

              <button
                type="button"
                class="btn btn-info"
                style="color: #fff"
                @click.stop.prevent="onShowBarcodeClick"
              >
                Штрихкод
              </button>
            </div>
          </div>

          <table class="table table-striped">
            <thead>
              <tr>
                <th class="th_index">#</th>
                <th class="th_name">Товар</th>
                <th class="th_count">Кол-во</th>
                <th class="th_price">Цена</th>
                <th class="th_discount">Скидка,&nbsp;%</th>
                <th class="th_in-stock g-hide-on-print">На&nbsp;складе</th>
                <th class="th_sum">Сумма</th>
                <th class="th_action g-hide-on-print"></th>
              </tr>
            </thead>
            <tbody v-if="!pending">
              <template v-for="(invoiceProduct, index) in invoiceProducts">
                <InvoiceProductsFormLine
                  v-if="!invoiceProduct.markForDeletion"
                  v-model="invoiceProducts[index]"
                  :index="index"
                  :key="invoiceProduct.key"
                  :productsWithPrices="products"
                  @changeInvoiceProduct="changeInvoiceProduct(index)"
                  @changeDiscount="updateTotal"
                  @changeCount="updateCount(index)"
                  @changePrice="updatePrice(index)"
                  @delete="deleteLine(index)"
                />
              </template>

              <tr>
                <td></td>

                <td>
                  <span style="font-weight: bold;">Итого</span>
                </td>

                <td>
                  <template v-if="totalWeight !== 0">
                    {{ totalWeight }} кг
                    <br v-if="totalCount !== 0" />
                  </template>
                  <template v-if="totalCount !== 0">
                    {{ totalCount }} шт
                  </template>
                </td>
                <td></td>
                <td></td>
                <td class="g-hide-on-print"></td>

                <td class="b-total-amount g-hide-on-print" colspan="3">
                  {{ beautyNumber(total, { showCurrency: true }) }}
                </td>
                <td class="b-total-amount g-hide-on-screen" colspan="2">
                  {{ beautyNumber(total, { showCurrency: true }) }}
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </PreloaderWrapper>
    </div>
  </div>
</template>

<script>
import { mapState, mapMutations } from 'vuex';

import { beautyNumber, filterToFloat } from '@/helpers/helpers';
import { reduceTotal } from '@/helpers/docForms';

import InvoiceProduct from '@/classes/InvoiceProduct';
import Product from '@/classes/Product';

import { getProductPricesRequest, getProductsBarcodesRequest } from '@/requestManager/ProductRequests';
import { getInvoiceInvoiceProductsRequest } from '@/requestManager/InvoiceRequests';

import InvoiceProductsFormLine from '@/components/Invoices/InvoiceProductsFormLine';
import { getProductBarcodeId, getBarcodeWeight } from '@/helpers/widgets/barcode';

const DEFAULT_INVOICE_PRODUCT = {
  count: '',
  discount: 0,
  id: null,
  markForDeletion: false,
  name: '',
  oldProductCount: 0,
  oldStockCount: 0,
  price: '',
  product: null,
  productId: null,
  unit: null,
}

export default {
  // 1
  name: 'InvoiceProductsForm',
  components: {
    InvoiceProductsFormLine,
  },

  // 2
  props: {
    invoiceId: Number,
    pricelistId: Number,
    formCreatedTime: Date,
  },
  data:() => ({
    invoiceProducts: [],
    barcodes: [],
    barcode: '',
    showBarcode: false,
    loading: {
      invoiceProductsLoaded: false,
      productsWithPricesLoaded: false,
      barcodesLoaded: false,
    },
    total: 0,
    totalIsInitialized: false,
    localPricelistId: null,
  }),
  computed: {
    ...mapState('products', [
      'products',
    ]),

    pending() {
      return !this.loading.productsWithPricesLoaded || !this.loading.invoiceProductsLoaded || !this.loading.barcodesLoaded;
    },
    totalCount() {
      return reduceTotal(this.invoiceProducts, 'шт');
    },
    totalWeight() {
      return reduceTotal(this.invoiceProducts, 'кг');
    },
  },
  watch: {
    pricelistId() {
      // если прайс-лист указан
      if (this.pricelistId
        && this.loading.invoiceProductsLoaded
        && this.localPricelistId !== this.pricelistId) {
        this.localPricelistId = this.pricelistId;
      }

      this.updateTotal();
    },
    pending(newValue) {
      if (!newValue) {
        this.$emit('totalInit', this.total);
      }
    },
    formCreatedTime() {
      this.invoiceProducts = [];
      this.total = 0;
      this.addLine();
    },
  },

  // 3
  async created() {
    if (this.invoiceId) {
      await Promise.all([
        this.loadProducts(),
        this.loadInvoiceProducts(),
        this.loadBarcodes(),
      ]);

      this.setProductsToInvoiceProducts();
      this.updateTotal();
      this.loading.invoiceProductsLoaded = true;
    } else {
      this.addLine();

      await Promise.all([
        this.loadProducts(),
        this.loadBarcodes(),
      ]);

      this.loading.invoiceProductsLoaded = true;
    }

    this.$root.$on('pricelistChanged', newPricelistId => this.updatePricesByPricelist(newPricelistId));
  },

  // 4
  methods: {
    ...mapMutations('products', [
      'SET_PRODUCTS',
      'SET_PRODUCTS_NOT_INITIALIZED',
      'SET_PRODUCTS_INITIALIZED',
    ]),

    beautyNumber,

    getKey() {
      return '' + Math.random();
    },
    async loadInvoiceProducts() {
      this.loading.invoiceProductsLoaded = false;

      const response = await getInvoiceInvoiceProductsRequest(this.invoiceId);

      const $this = this;
      this.invoiceProducts = response.data.data.map(dbProduct =>
        new InvoiceProduct({
          ...dbProduct,
          key: $this.getKey(),
        })
      );
    },
    async loadProducts() {
      this.loading.productsWithPricesLoaded = false;

      this.SET_PRODUCTS_NOT_INITIALIZED();
      const response = await getProductPricesRequest();

      const products = response.data.data.map(dbProduct => new Product(dbProduct));
      this.SET_PRODUCTS(products);
      this.SET_PRODUCTS_INITIALIZED();
      this.loading.productsWithPricesLoaded = true;
    },

    async loadBarcodes() {
      this.loading.barcodesLoaded = false;

      const response = await getProductsBarcodesRequest();

      this.barcodes = Object.keys(response.data.data).reduce((barcodes, currentBarcode) => {
        const barcodeWithoutWeight = currentBarcode.substring(0, 7);
        barcodes[barcodeWithoutWeight] = response.data.data[currentBarcode];
        return barcodes;
      }, {});

      this.loading.barcodesLoaded = true;
    },

    addLine() {
      this.invoiceProducts.push(new InvoiceProduct({
        ...DEFAULT_INVOICE_PRODUCT,
        key: this.getKey(),
      }));
    },
    deleteLine(i) {
      this.invoiceProducts.splice(i, 1);

      this.$nextTick(() => {
        this.$forceUpdate();
      });
      this.updateTotal();
    },

    changeInvoiceProduct(i) {
      this.localPricelistId = this.pricelistId;

      // обновим id продукта в скрытом поле
      this.invoiceProducts[i].productId = (this.invoiceProducts[i].product)
        ? this.invoiceProducts[i].product.id
        : null;

      // если прайслист указан - поищем цену на этот товар
      if (this.localPricelistId) {
        // перебираем цены продукта, пока не найдем нужный прайс - прайс, который использует этот клиент
        const thisProductPrice = this.invoiceProducts[i].product.prices.find(productPrice =>
          productPrice.client_pricelist_id === this.localPricelistId
        );

        // если нужного прайса не нашли - покажем 0
        this.invoiceProducts[i].price = thisProductPrice
          ? parseFloat(thisProductPrice.price)
          : 0;
      }
      // если клиент не указан - укажем цену к этому товару = 0
      else {
        this.invoiceProducts[i].price = 0;
      }

      // @example: 0
      this.invoiceProducts[i].oldStockCount = this.invoiceProducts[i].product.count;
      // @example: 50
      this.invoiceProducts[i].oldProductCount = this.invoiceProducts[i].count;

      this.invoiceProducts[i].unit = this.invoiceProducts[i].product.unit;
      this.updateTotal();
    },

    updateCount(i) {
      this.invoiceProducts[i]['count'] = filterToFloat(this.invoiceProducts[i]['count'], true);
      this.updateTotal();
    },
    updatePrice(i) {
      this.invoiceProducts[i]['price'] = filterToFloat(this.invoiceProducts[i]['price'], true);
      this.updateTotal();
    },
    updateTotal() {
      this.total = this.invoiceProducts.reduce((accumulator, invoiceProduct) =>
        accumulator + invoiceProduct.getSum(),
        0);
      this.$emit('totalUpdate', this.total);
    },

    setProductsToInvoiceProducts() {
      // определим свойства, которые нам не передали, потому что они вычисляемые
      this.invoiceProducts.forEach((item, i) => {
        this.invoiceProducts[i].product = this.products.find(product =>
          product.id === this.invoiceProducts[i].productId
        );

        // @example: 0
        this.invoiceProducts[i].oldStockCount = this.invoiceProducts[i].product.count;
        // @example: 50
        this.invoiceProducts[i].oldProductCount = this.invoiceProducts[i].count;
      });
    },
    updatePricesByPricelist(newPricelistId) {
      this.localPricelistId = newPricelistId;

      // переберем товары в счете и поменяем им цены согласно новому прайс-листу
      this.invoiceProducts = this.invoiceProducts.map((invoiceProduct) => {
        if (invoiceProduct.productId === null) {
          return invoiceProduct;
        }

        // перебираем цены продукта, пока не найдем нужный прайс - прайс, который использует этот клиент
        let thisProductPrice = invoiceProduct.product.prices.find(productPrice =>
          productPrice.client_pricelist_id === this.localPricelistId
        );

        // если нужного прайса не нашли - покажем 0
        invoiceProduct.price = !!thisProductPrice
          ? parseFloat(thisProductPrice.price)
          : 0;

        return invoiceProduct;
      })
      // если прайс-лист для клиента не указан
      // else {
      //   // переберем товары в счете // TODO: поменять на удобный перебирающий метод
      //   for (let i = 0; i < this.invoiceProducts.length; i++) {
      //     // если нужного прайса не нашли - укажем цену в 0, так как прайс-лист для клиента не указан
      //     this.invoiceProducts[i].price = 0;
      //   }
      // }

      this.updateTotal();
    },
    onShowBarcodeClick() {
      this.showBarcode = !this.showBarcode;

      if (this.showBarcode) {
        this.$nextTick(() => this.$refs.barcodeInput.focus())
      }
    },
    onBarcodeInput() {
      const productBarcodeId = getProductBarcodeId(this.barcode);
      const product = this.products.find(loopProduct => this.barcodes[productBarcodeId]?.id === loopProduct.id);
      const weight = getBarcodeWeight(this.barcode, +product.barcodeKgChars || 2);

      if (!product) {
        return;
      }

      this.barcode = '';

      const existedProduct = this.invoiceProducts.find(invoiceProduct => invoiceProduct.productId === product.id);

      // 1 Если товар уже есть в счете
      if (existedProduct) {
        const index = this.invoiceProducts.indexOf(existedProduct);

        this.invoiceProducts[index]['count'] = +this.invoiceProducts[index]['count'] + weight;

        this.updateCount(index);
        return;
      }

      // 2 Если товара пока нет в счете
      const indexOfEmptyProductLineExists = this.invoiceProducts.findIndex(loopProduct => !loopProduct.productId);

      if (indexOfEmptyProductLineExists !== -1) {
        this.invoiceProducts[indexOfEmptyProductLineExists] = new InvoiceProduct({
          ...DEFAULT_INVOICE_PRODUCT,
          count: weight,
          discount: 0,
          price: 0,
          product: product,
          productId: product.id,
          unit: product.unit,
          key: this.getKey(),
        });

        this.changeInvoiceProduct(indexOfEmptyProductLineExists);
        return;
      }

      this.invoiceProducts.push(new InvoiceProduct({
        ...DEFAULT_INVOICE_PRODUCT,
        count: weight,
        discount: 0,
        price: 0,
        product: product,
        productId: product.id,
        unit: product.unit,
        key: this.getKey(),
      }));

      const index = this.invoiceProducts.length - 1;
      this.changeInvoiceProduct(index);
    },
  },
}
</script>

<style lang="scss" scoped>
.table {
  margin-bottom: 0;

  .th_index {
    width: 33px
  }

  .th_name {
    width: auto
  }

  .th_count {
    width: 106px
  }

  .th_price {
    width: 85px
  }

  .th_discount {
    width: 94px
  }

  .th_in-stock {
    width: 127px
  }

  .th_sum {
    width: 103px
  }

  .th_action {
    width: 60px
  }

  ::v-deep td {
    padding: 0.75rem 0.25rem 0.75rem 0.75rem
  }
}

.invoice-products-form__barcode-input-label {
  flex-shrink: 0;
}
</style>
