<template>
  <PreloaderWrapper :showPreloader="showPreloader">
    <div class="row">
      <ClientField
        v-model="invoice.clientId"
        hideArchived
        disableWhenArchivedSelected
        class="col-md-4"
        @change="emitChangePricelist"
      />
      <input
        :value="invoice.clientId"
        type="hidden"
        name="client_id"
      />

      <div class="col-md-5">
        <div class="form-group">
          <strong>Адрес клиента</strong>
          <div v-html="invoiceClient.address"></div>
        </div>
      </div>

      <div class="col-md-3">
        <div class="form-group">
          <strong>Телефон клиента</strong>
          <div v-html="invoiceClient.phone"></div>
        </div>
      </div>
    </div>

    <div class="row">
      <DateField
        v-model="invoice.date"
        name="date"
        class="col-md-4"
      >
        Дата
      </DateField>

      <div class="col-md-2">
        <div class="form-group">
          <strong>Валюта</strong>
          <input
            value="Рубль"
            type="text"
            disabled
            class="form-control"
          />
        </div>
      </div>

      <div class="col-md-3">
        <div class="form-group">
          <strong>Сумма</strong>
          <input
            :value="total.toLocaleString('ru')"
            disabled
            type="text"
            class="form-control"
          />
          <input
            v-model="total"
            name="amount"
            type="hidden"
          />
        </div>
      </div>

      <div class="col-md-2">
        <div class="form-group" style="width: 60px;">
          <strong>&nbsp;</strong>
          <input
            :value="invoiceClient.cashless ? 'Б' : 'Н'"
            class="form-control"
            type="text"
            disabled
          />
        </div>
      </div>
    </div>

    <div class="row">
      <InvoiceProductsForm
        :invoiceId="+id"
        :pricelistId="invoiceClient.client_pricelist_id"
        class="col-md-12"
        @totalInit="total = $event"
        @totalUpdate="total = $event"
      />
    </div>

    <div v-if="invoice.clientId" class="row b-bottom-line">
      <div class="col-md-6">
        <div class="form-group">
          <strong>Долг по&nbsp;клиенту:</strong>
          {{ currentClientDebt }} руб.
        </div>
      </div>

      <div class="col-md-6 text-right g-hide-on-screen">
        <div class="form-group">
          <strong>Подпись</strong> ____________________________________
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">
        <div class="form-group">
          <strong>Комментарий</strong>
          <input
            v-model="invoice.comment"
            name="comment"
            type="text"
            class="form-control"
          />
        </div>
      </div>
    </div>

    <div class="col-md-12 text-center">
      <button class="btn btn-primary" type="submit">Сохранить</button>
    </div>
  </PreloaderWrapper>
</template>

<script>
import { mapState, mapGetters, mapActions } from 'vuex';

import DateField from '@/components/UI/Fields/DateField';
import ClientField from '@/components/UI/Fields/ClientField';
import InvoiceProductsForm from '@/components/Invoices/InvoiceProductsForm';

import { beautyNumber } from '@/helpers/helpers';

import { getInvoiceRequest } from '@/requestManager/InvoiceRequests';

export default {
  name: 'InvoiceForm',
  components: {
    DateField,
    ClientField,
    InvoiceProductsForm,
  },

  // 2
  props: {
    id: {
      default: null,
      required: false,
    },
  },
  data: () => ({
    baseClient: {
      id: null,
      debt: 0,
    },
    baseTotal: null,
    invoice: {
      id: null,
      clientId: null,
      date: null,
      comment: null,
    },
    loading: {
      clientsLoaded: false,
      invoiceLoaded: true,
    },
    total: 0,
    totalDifference: 0,
  }),
  computed: {
    ...mapState('clients', [
      'clients',
      'clientsInited',
    ]),
    ...mapGetters('clients', [
      'getClient',
    ]),

    showPreloader() {
      return this.id === null
        // если создание счета
        ? !(this.clientsInited)
        // если редактирование счета
        : !this.clientsInited || !this.loading.invoiceLoaded;
    },
    currentClientDebt() {
      // если клиент сейчас не установлен - покажем ничего
      if (this.invoice.clientId === null) {
        return '---';
      }

      const clientDebt = (this.baseClient.id === this.invoice.clientId)
        // если клиент такой же как был
        ? this.baseClient.debt + this.total
        // если клиент не такой же как был
        : this.invoiceClient.debt + this.total;

      return this.beautyNumber(clientDebt, { round: true });
    },

    invoiceClient() {
      return this.invoice.clientId && this.getClient(this.invoice.clientId)
        ? this.getClient(this.invoice.clientId)
        : {
          address: '---',
          debt: 0,
          id: null,
          phone: '---',
          client_pricelist_id: null,
        }
    },
  },

  // 3
  async created() {
    if (this.id) {
      await Promise.all([
        this.loadExistedInvoice(),
        this.loadClients(),
      ])

      this.baseClient.id = this.invoice.clientId;
      this.baseClient.debt = this.invoiceClient.debt - this.invoice.amount;
      this.loading.invoiceLoaded = true;
    } else {
      this.initUnexistedInvoice();
      await this.loadClients();
    }
  },

  // 4
  methods: {
    beautyNumber,

    ...mapActions('clients', [
      'loadClients',
    ]),

    emitChangePricelist() {
      this.$root.$emit('pricelistChanged', this.invoiceClient.client_pricelist_id);
    },
    async loadExistedInvoice() {
      this.loading.invoiceLoaded = false;

      const response = await getInvoiceRequest(this.id);
      this.invoice = response.data.data;
    },
    initUnexistedInvoice() {
      const today = new Date();

      this.invoice.date = today.getFullYear()
        + '-' + ((today.getMonth() + 1 < 10) ? '0' : '') + (today.getMonth() + 1)
        + '-' + ((today.getDate() < 10) ? '0' : '') + today.getDate();
    },
  },
}
</script>

<style lang="scss" scoped>
@media print {
  .b-bottom-line {
    margin-top: 40px
  }
}
</style>
