<template>
  <tr v-if="!localInvoiceProduct.markForDeletion">
    <!-- # -->
    <td>{{ (index + 1) }}</td>

    <!-- Товар -->
    <td>
      <Multiselect
        v-model="localInvoiceProduct.product"
        label="name"
        :placeholder="'Выберите продукт'"
        track-by="id"
        :hide-selected="false"
        :multiple="false"
        :options="productsWithPrices"
        class="multiselect__mono"
        @input="$emit('changeInvoiceProduct')"
      />

      <input
        v-model="localInvoiceProduct.productId"
        type="hidden"
        :name="localInvoiceProduct.fieldName('productId', index)"
      />
      <input
        v-model="localInvoiceProduct.oldNew"
        type="hidden"
        :name="localInvoiceProduct.fieldName('oldnew', index)"
      />
    </td>

    <!-- Количество -->
    <td class="count">
      <div class="count-unit">
        {{ localInvoiceProduct.unit }}
      </div>
      <input
        v-model="localInvoiceProduct.count"
        required
        type="text"
        :name="localInvoiceProduct.fieldName('count', index)"
        class="form-control"
        @input="$emit('changeCount', $event)"
      />
    </td>

    <!-- Цена -->
    <td>
      <input
        v-model="localInvoiceProduct.price"
        required
        type="text"
        :name="localInvoiceProduct.fieldName('price', index)"
        class="form-control"
        @input="$emit('changePrice', $event)"
      />
    </td>

    <!-- Скидка, % -->
    <td>
      <input
        v-model="localInvoiceProduct.discount"
        required
        type="text"
        :name="localInvoiceProduct.fieldName('discount', index)"
        class="form-control"
        @input="$emit('changeDiscount', $event)"
      />
    </td>

    <!-- На складе -->
    <td v-html="stockCount" class="g-hide-on-print"></td>

    <!-- Сумма -->
    <td>
      {{ showLineSum }}
    </td>

    <!-- Действие -->
    <td class="g-hide-on-print">
      <a
        href="javascript: void(0);"
        class="btn btn-danger"
        @click="$emit('delete')"
      >
        <VIcon name='trash' />
      </a>
    </td>
  </tr>
</template>

<script>
import { beautyNumber, roundTo } from '@/helpers/helpers';
import ProductField from '@/components/UI/Fields/ProductField';

export default {
  name: 'InvoiceProductsFormLine',
  components: {
    ProductField,
  },
  props: {
    value: Object,
    index: Number,
    productsWithPrices: Array,
  },

  data: () => ({
    localInvoiceProduct: {},
  }),
  computed: {
    stockCount() {
      // если продукт не выбран - покажем '-'
      if (!this.localInvoiceProduct.productId) {
        return '-';
      }

      // @example: 50 - 40 = 10
      let productCountDelta = -this.localInvoiceProduct.count;

      if (this.localInvoiceProduct.oldNew === 'old') {
        productCountDelta += this.localInvoiceProduct.oldProductCount;
      }

      // @example: 0 + 10 = 10
      const newStockCount = this.localInvoiceProduct.oldStockCount + productCountDelta;

      return 'Сейчас ' + this.roundTo(this.localInvoiceProduct.oldStockCount) + ','
        + '<br>станет ' + this.roundTo(newStockCount);
    },

    showLineSum() {
      let lineSum = this.localInvoiceProduct.getSum();
      return this.beautyNumber(lineSum, { showCurrency: true });
    },
  },

  created() {
    this.localInvoiceProduct = this.value;
  },

  methods: {
    beautyNumber,
    roundTo,
  },
}
</script>

<style lang="scss" scoped>
.count {
  display: flex;
  align-items: center;
}
.count-unit {
  margin-right: 5px;
}
</style>
