<template>
  <PreloaderWrapper :showPreloader="pendingOfSaving || pendingOfLoading">
    <div class="row">
      <div class="col-lg-12 margin-tb">
        <h2>
          Создание поставки
        </h2>
        <p>
          <BackButton :to="{ name: 'supplies' }" />
        </p>
      </div>
    </div>

    <SupplyForm
      v-if="!pendingOfLoading"
      v-model="supply"
      @callSave="create"
    />
  </PreloaderWrapper>
</template>

<script>
import { mapActions } from 'vuex';

import BackButton from '@/components/UI/Buttons/BackButton';
import SupplyForm from '@/components/Supplies/SupplyForm';

import Supply from '@/classes/Supply';

import { createSupplyRequest } from '@/requestManager/SupplyRequests';

import { getFormDataParams } from '@/mixins/supplyFormParent';

export default {
  name: 'CreateSupplyView',
  components: {
    BackButton,
    SupplyForm,
  },
  mixins: [
    getFormDataParams,
  ],

  data: () => ({
    supply: new Supply(),
    pendingOfLoading: false,
    pendingOfSaving: false,
  }),

  async created() {
    this.initUnexistedSupply();

    this.pendingOfLoading = true;

    await Promise.all([
      this.loadProductsWithSupplyPrices(),
      this.loadSuppliers(),
      this.loadSupplierPricelists(),
    ])

    this.pendingOfLoading = false;
  },

  methods: {
    ...mapActions('suppliers', [
      'loadSuppliers',
    ]),

    ...mapActions('supplierPricelists', [
      'loadSupplierPricelists',
    ]),

    ...mapActions('products', [
      'loadProductsWithSupplyPrices',
    ]),

    async create(form) {
      this.pendingOfSaving = true;

      const formParams = this.getFormDataParams(form, this.supply);
      const response = await createSupplyRequest(formParams);
      this.pendingOfSaving = false;

      if (!response.data.success) {
        // TODO: показать всплывающее окно с ошибкой
        return;
      }

      await this.$router.push({
        name: 'report-by-suppliers',
      });
    },

    initUnexistedSupply() {
      const today = new Date();

      this.supply.date = today.getFullYear()
        + '-' + ((today.getMonth() + 1 < 10) ? '0' : '') + (today.getMonth() + 1)
        + '-' + ((today.getDate() < 10) ? '0' : '') + today.getDate();
    },
  },
}
</script>
