<template>
  <PreloaderWrapper :showPreloader="pending">
    <div class="row">
      <div class="col-lg-12 margin-tb">
        <h2>
          Редактирование поставки {{ titleId }}
        </h2>
        <p>
          <BackButton :to="{ name: 'supplies' }" />
        </p>
      </div>
    </div>

    <SupplyForm
      v-if="!pendingOfLoading"
      v-model="supply"
      @callSave="update"
    />
  </PreloaderWrapper>
</template>

<script>
import { mapActions } from 'vuex';

import BackButton from '@/components/UI/Buttons/BackButton.vue';
import SupplyForm from '@/components/Supplies/SupplyForm';

import Supply from '@/classes/Supply';

import { getSupplyRequest, updateSupplyRequest } from '@/requestManager/SupplyRequests';

import { getFormDataParams } from '@/mixins/supplyFormParent';

export default {
  name: 'EditSupplyView',
  components: {
    SupplyForm,
    BackButton,
  },
  mixins: [
    getFormDataParams,
  ],

  data: () => ({
    supply: new Supply(),
    supplyProducts: [],
    pendingOfLoading: false,
    pendingOfSaving: false,
  }),
  computed: {
    titleId() {
      return (!this.pendingOfLoading && Boolean(this.supply))
        ? `№${this.supply.number}`
        : '';
    },
    pending() {
      return this.pendingOfLoading || this.pendingOfSaving;
    },
  },

  async created() {
    this.pendingOfLoading = true;

    await Promise.all([
      this.localLoadSupplier(),

      this.loadSupplyProducts(this.$route.params.id),
      this.loadProductsWithSupplyPrices(),
      this.loadSuppliers(),
      this.loadSupplierPricelists(),
    ]);

    this.pendingOfLoading = false;
  },

  methods: {
    ...mapActions('suppliers', [
      'loadSuppliers',
    ]),

    ...mapActions('supplierPricelists', [
      'loadSupplierPricelists',
    ]),

    ...mapActions('supplyProducts', [
      'loadSupplyProducts',
    ]),

    ...mapActions('products', [
      'loadProductsWithSupplyPrices',
    ]),

    async update(form) {
      const formParams = this.getFormDataParams(form, this.supply);

      this.pendingOfSaving = true;
      const response = await updateSupplyRequest(formParams, this.supply.id);
      this.pendingOfSaving = false;

      if (!response.data.success) {
        // TODO: показать всплывающее окно с ошибкой
        return;
      }

      await this.$router.push({
        name: 'report-by-suppliers',
      });
    },

    async localLoadSupplier() {
      const response = await getSupplyRequest(this.$route.params.id);
      this.supply = new Supply(response.data.supply);
    },
  },
}
</script>
