<template>
  <ul
    v-if="pages > 1"
    role="navigation"
    class="pagination"
  >
    <li
      aria-label="« Предыдущий"
      class="page-item"
      :class="[{ disabled: selectedPage === 0 }]"
      @click="toPrevPage"
    >
      <span
        aria-hidden="true"
        class="page-link"
      >‹</span>
    </li>

    <li
      v-for="(page, index) in pages"
      :key="index"
      :class="[
        'page-item',
        { 'active': page === (selectedPage + 1) }
      ]"
      @click="handleClick($event, page - 1)"
    >
      <span class="page-link">
        {{ page }}
      </span>
    </li>

    <li
      class="page-item"
      :class="[{ disabled: selectedPage === pages - 1 }]"
      @click="toNextPage"
    >
      <span
        rel="next"
        aria-label="Следующий »"
        aria-disabled="true"
        class="page-link"
      >›</span>
    </li>
  </ul>
</template>

<script>
export default {
  name: 'Pagination',

  props: {
    selectedPage: Number,
    itemsCount: Number,
    perPage: Number,
  },
  computed: {
    pages() {
      return this.pagesCount === 1
        ? 0
        : this.pagesCount;
    },
    pagesCount() {
      if (!this.itemsCount || !this.perPage) {
        return 0;
      }

      return Math.ceil(this.itemsCount / this.perPage);
    },
  },

  methods: {
    handleClick(e, page) {
      this.emitSelect(page);
      // this.setStartShowPage(page);
    },

    toPrevPage() {
      if (this.selectedPage !== 0) {
        this.emitSelect(this.selectedPage - 1);
      }
    },
    toNextPage() {
      if (this.selectedPage !== this.pages - 1) {
        this.emitSelect(this.selectedPage + 1);
      }
    },

    emitSelect(page) {
      this.$emit('select', page);
    },
  },
}
</script>

<style lang="scss" scoped>
.page-link {
  cursor: pointer;
}
</style>
