<template>
  <div class="preloader-wrapper">
    <div v-if="showPreloader" class="preloader-wrapper__wrapper">
      <Spinner class="preloader-wrapper__spinner" />
    </div>

    <slot />
  </div>
</template>

<script>
import Spinner from 'vue-spinner-component/src/Spinner.vue';

// TODO: подключить этот компонент локально

export default {
  name: 'PreloaderWrapper',
  components: {
    Spinner,
  },

  props: {
    showPreloader: {
      type: Boolean,
      required: true,
    },
  },
}
</script>

<style lang="scss" scoped>
.preloader-wrapper {
  position: relative;
}

.preloader-wrapper__wrapper {
  background: rgba(240, 248, 255, 0.5);
  height: 100%;
  position: absolute;
  width: 100%;
  z-index: 1;
}

.preloader-wrapper__spinner {
  margin: 20px auto 0;
}
</style>
