<template>
  <div :class="{
      'g-hide-on-print': !productSearch,
    }">
    <label for="productSearch">Фильтр по товарам</label>

    <div class="input-group mb-4">
      <div class="input-group-prepend">
        <span class="input-group-text cyan lighten-2" id="basic-text1"><v-icon name='search'></v-icon></span>
      </div>

      <input
        :value="productSearch"
        placeholder="Начните вводить название товара, и фильтр применится..."
        type="text"
        id="productSearch"
        class="form-control"
        @input="$emit('change', $event.target.value)"
      />
    </div>
  </div>
</template>

<script>
export default {
  name: 'ProductsHeader',

  model: {
    prop: 'productSearch',
    event: 'change',
  },
  props: {
    productSearch: String,
  },
}
</script>
