<template>
  <tr :class="{
    'bg-less-zero': product.count < 0,
  }">
    <td>{{ index }}</td>
    <td>
      <span v-if="product.supplierCode" class="product-line__supplier-code">
        {{ product.supplierCode }}
      </span>
      {{ product.name }}
    </td>
    <td>{{ product.count }} {{ product.unit }}</td>
    <td>
      <a class="btn btn-primary" :href="`/products/${product.id}/edit`">
        <VIcon name='pen' />
      </a>

      <button
        class="btn btn-danger"
        @click.prevent="openDeleteProductDialog"
      >
        <VIcon name='trash' />
      </button>
    </td>
  </tr>
</template>

<script>
export default {
  name: 'ProductsLine',

  props: {
    index: {
      type: Number,
      required: true,
    },
    product: {
      type: Object,
      required: true,
    },
  },

  methods: {
    openDeleteProductDialog() {
      if (!confirm('Хотите удалить этот элемент?')) {
        return false;
      }

      this.$emit('callDelete');
    },
  },
}
</script>

<style lang="scss" scoped>
$supplierCodeColor: #3f4a55;

.product-line__supplier-code {
  color: $supplierCodeColor;
  display: inline-flex;
  border-bottom: 2px dotted $supplierCodeColor;
  line-height: 1em;
}
</style>
