<template>
  <table class="table table-striped">
    <thead>
    <tr>
      <th>#</th>
      <th>Товар</th>
      <th>Количество</th>
      <th class="g-hide-on-print" style="width: 155px;">Действие</th>
    </tr>
    </thead>
    <tbody>
      <template v-if="filteredProducts.length">
        <ProductsLine
          v-for="(product, i) in filteredProducts"
          :key="product.id"
          :product="product"
          :index="i + 1"
          @callDelete="$emit('callDelete', product.id)"
        />

        <tr>
          <td></td>
          <td style="font-weight: bold;">Итого</td>
          <td colspan="2">
            <template v-if="totalWeight !== 0">
              {{ beautyNumber(totalWeight, { round: true }) }} кг
              <br v-if="totalCount !== 0" />
            </template>
            <template v-if="totalCount !== 0">
              {{ totalCount }} шт
            </template>
          </td>
        </tr>
      </template>

      <tr v-else>
        <td colspan="4">Товары не найдены</td>
      </tr>
    </tbody>
  </table>
</template>

<script>
import ProductsLine from '@/featureSliced/areas/products/products/components/ProductsLine';

import { beautyNumber } from '@/helpers/helpers';
import { getMeta } from '@/helpers/template';

export default {
  name: 'ProductsTable',
  components: {
    ProductsLine,
  },

  props: {
    filteredProducts: Array,
    totalWeight: Number,
    totalCount: Number,
  },

  methods: {
    beautyNumber,
    getMeta,
  },
}
</script>

<style lang="scss" scoped>
@import "../../../../../../sass/mixins";

.table-striped tbody tr.bg-less-zero {
  @include strippedErrorLines;
}
</style>

