<template>
  <PreloaderWrapper :showPreloader="showPreloader">
    <ProductsHeader v-model="productSearch" />

    <ProductsTable
      :filteredProducts="filteredProducts"
      :totalWeight="totalWeight"
      :totalCount="totalCount"
      @callDelete="deleteProduct"
    />
  </PreloaderWrapper>
</template>

<script>
import ProductsHeader from '@/featureSliced/areas/products/products/components/ProductsHeader';
import ProductsTable from '@/featureSliced/areas/products/products/components/ProductsTable';

import { beautyNumber } from '@/helpers/helpers';
import { getMeta } from '@/helpers/template';

import ProductsProductClass from '@/featureSliced/areas/products/products/classes/ProductsProduct';

import { getProductsRequest, deleteProductRequest } from '@/requestManager/ProductRequests';

export default {
  name: 'Products',
  components: {
    ProductsHeader,
    ProductsTable,
  },

  data: () => ({
    showPreloader: true,
    productSearch: '',
    productsInDB: [],
    totalWeight: 0,
    totalCount: 0,
  }),
  computed: {
    filteredProducts() {
      if (this.productSearch === '') {
        return this.productsInDB;
      }

      const lowerCasedProductSearchString = this.productSearch.toLowerCase();

      return this.productsInDB.filter(product =>
        product.supplierCodeWithName
          .toLowerCase()
          .indexOf(lowerCasedProductSearchString) >= 0
      );
    },
  },
  methods: {
    beautyNumber,
    getMeta,

    async deleteProduct(id) {
      this.showPreloader = true;
      const response = await deleteProductRequest(id);

      if (response.status !== 200) {
        this.showPreloader = false;
        throw new Error('Не удалось удалить товар, обновите страницу и попробуйте снова');
      }

      this.productsInDB = this.productsInDB.filter(
        product => product.id !== id
      );

      this.showPreloader = false;
    },
    async loadProducts() {
      const response = await getProductsRequest(true);

      this.productsInDB = response.data.data.map(rawProduct => new ProductsProductClass(rawProduct));

      if (this.filteredProducts.length > 0) {
        // переберем продукты
        this.filteredProducts.forEach((product) => {
          switch (product.unit) {
            case 'кг':
              this.totalWeight += parseFloat(product.count);
              break;
            case 'шт':
              this.totalCount += parseInt(product.count);
              break;
          }
        });
      }

      this.showPreloader = false;
    },
    serialize(object) {
      return JSON.stringify(object)
        .replace(/['"\{\}]/g, '')
        .replace(/:/g, '=')
        .replace(/,/g, '&');
    }
  },

  created() {
    this.loadProducts();
  },
}
</script>
