<template>
  <form
    class="js-supplier-form"
    @submit.prevent="checkThenEmitSubmitForm"
  >
    <!-- 1 -->
    <div class="row">
      <div class="col-md-6">
        <div class="form-group">
          <strong>Имя</strong>
          <input
            :value="supplier.name"
            placeholder=""
            required
            type="text"
            class="form-control"
            @input="$emit('change', 'name', $event.target.value)"
          ></div>
      </div>

      <div class="col-md-3">
        <div class="form-group">
          <strong>Телефон</strong>
          <input
            :value="supplier.phone"
            placeholder=""
            required
            type="text"
            class="form-control"
            @input="$emit('change', 'phone', $event.target.value)"
          />
        </div>
      </div>

      <div class="col-md-3">
        <div class="form-group">
          <strong>Прайслист поставщика</strong>

          <Autocomplete
            v-model="supplier.supplierPricelistId"
            placeholder="Выберите прайслист"
            :list="supplierPricelists"
            @input="changeAutocomplete('supplierPricelistId', $event)"
          />
        </div>
      </div>
    </div>

    <!-- 2 -->
    <div class="row">
      <div class="col-md-6">
        <div class="form-group">
          <strong>Адрес</strong>
          <input
            :value="supplier.address"
            class="form-control"
            placeholder=""
            required
            type="text"
            @input="$emit('change', 'address', $event.target.value)"
          ></div>
      </div>

      <div class="col-md-3">
        <div class="form-group">
          <strong>Начальный баланс</strong>
          <input
            :value="supplier.initialBalance"
            class="form-control"
            placeholder=""
            required
            type="number"
            @input="$emit('change', 'initialBalance', $event.target.value)"
          ></div>
      </div>

      <div class="col-md-3">
        <div class="form-group">
          <strong>Валюта</strong>
          <Autocomplete
            v-model="supplier.currencyId"
            placeholder="Выберите валюту"
            required
            :list="currenciesWithoutRatio"
            :error="error.currencyId"
            @input="changeAutocomplete('currencyId', $event)"
          />
        </div>
      </div>
    </div>

    <!-- 3 -->
    <div class="col-md-12 text-center">
      <button class="btn btn-primary">
        Сохранить
      </button>
    </div>
  </form>
</template>

<script>
import { currenciesWithoutRatio } from '@/constants/currencies';
import Autocomplete from '@/components/UI/Autocomplete';

/**
 * Это UI компонент. В нем нет связи с данными.
 */
export default {
  name: 'SupplierForm',
  components: {
    Autocomplete,
  },

  props: {
    supplier: Object,
    supplierPricelists: Array,
  },
  data: () => ({
    currenciesWithoutRatio,
    error: {
      supplierPricelistId: false,
      currencyId: false,
    },
  }),

  methods: {
    checkThenEmitSubmitForm() {
      // если не все обязательные поля заполнены,
      // или выпадающий список валюты не заполнен
      if (document.querySelectorAll('.js-supplier-form input:invalid').length) {
        return;
      }

      if (!this.validateAutocomplete('currencyId')) {
        return;
      }

      this.$emit('emitSave');
    },
    validateAutocomplete(name) {
      this.error[name] = !this.supplier[name];
      return !!this.supplier[name];
    },
    changeAutocomplete(name, value) {
      this.$emit('change', name, value);
      this.validateAutocomplete(name)
    }
  },
}
</script>
