<template>
  <div class="card mb-3 border-primary">
    <div class="card-header">Добавление счета</div>

    <div class="card-body">
      <!-- 1 -->
      <div class="row">
        <!-- 1.1 Поставщик -->
        <div class="col-md-2">
          <div class="form-group">
            <strong>Поставщик</strong>
            <input
              :value="supplierName"
              disabled="disabled"
              type="text"
              class="form-control"
            />
          </div>
        </div>

        <!-- 1.2 Номер счета -->
        <div class="col-md-2">
          <div class="form-group">
            <strong>Номер счета</strong>
            <input
              :value="supplierInvoice.invoiceNumber"
              type="text"
              class="form-control"
              @input="change('invoiceNumber', $event.target.value)"
              @keyup.enter="$emit('callSave')"
            />
          </div>
        </div>

        <!-- 1.3 Дата счета -->
        <div class="col-md-2">
          <div class="form-group">
            <strong>Дата счета</strong>
            <input
              :value="supplierInvoice.invoiceDate"
              type="date"
              class="form-control"
              @input="change('invoiceDate', $event.target.value)"
              @keyup.enter="$emit('callSave')"
            />
          </div>
        </div>

        <!-- 1.4 Дата регистрации -->
        <div class="col-md-2">
          <div class="form-group">
            <strong>Дата регистрации</strong>
            <input
              :value="supplierInvoice.date"
              type="date"
              class="form-control"
              @input="change('date', $event.target.value)"
              @keyup.enter="$emit('callSave')"
            />
          </div>
        </div>

        <!-- 1.5 Сумма -->
        <div class="col-md-2">
          <div class="form-group">
            <strong>Сумма</strong>
            <FloatNumber
              :value="supplierInvoice.amount"
              required
              negative
              class="form-control"
              @input="change('amount', $event)"
              @keyup.native.enter="$emit('callSave')"
            />
          </div>
        </div>

        <!-- 1.6 Валюта -->
        <div class="col-md-2">
          <div class="form-group">
            <strong>Валюта</strong>
            <input
              :value="currencyName"
              type="text"
              disabled
              class="form-control"
            />
          </div>
        </div>
      </div>

      <!-- 2 -->
      <div class="row">
        <!-- 2.1 Комментарий -->
        <div class="col-md-10">
          <div class="form-group">
            <strong>Комментарий</strong>
            <input
              :value="supplierInvoice.comment"
              type="text"
              class="form-control"
              @input="change('comment', $event.target.value)"
              @keyup.enter="$emit('callSave')"
            />
          </div>
        </div>

        <!-- 2.2 // Кнопка сохранения -->
        <div class="col-md-2">
          <div class="form-group">
            <strong>&nbsp;</strong>
            <button
              :disabled="pending"
              class="btn btn-primary form-control"
              @click="$emit('callSave')"
            >
              Сохранить
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'SupplierInvoiceForm',

  model: {
    prop: 'supplierInvoice',
    event: 'change',
  },
  props: {
    supplierInvoice: Object,
    supplierName: String,
    currencyName: String,
    pending: Boolean,
  },

  methods: {
    change(param, value) {
      this.$emit('change', {
        ...this.supplierInvoice,
        [param]: value,
      });
    },
  },
}
</script>

