<template>
  <div class="card mb-3 border-success">
    <div class="card-header">Добавление платежа</div>

    <div class="card-body">
      <!-- 2.1 -->
      <div class="row">
        <!-- 2.1.1 Сумма -->
        <div class="col-md-2">
          <div class="form-group">
            <strong>Сумма</strong>
            <FloatNumber
              v-model="newPayment.amount"
              required
              negative
              class="form-control"
              @keyup.native.enter="$emit('callSave')"
            />
          </div>
        </div>

        <!-- 2.1.2 Валюта -->
        <div class="col-md-2">
          <div class="form-group">
            <strong>Валюта</strong>
            <input
              :value="currencyName"
              type="text"
              disabled
              class="form-control"
            />
          </div>
        </div>

        <!-- 2.1.3 Дата -->
        <div class="col-md-3">
          <div class="form-group">
            <strong>Дата</strong>
            <input
              v-model="newPayment.date"
              type="date"
              class="form-control"
              @keyup.enter="$emit('callSave')"
            />
          </div>
        </div>

        <!-- 2.1.4 Поставщик -->
        <div class="col-md-3">
          <div class="form-group">
            <strong>Поставщик</strong>
            <input
              :value="supplierName"
              disabled="disabled"
              type="text"
              class="form-control"
            />
          </div>
        </div>
      </div>

      <!-- 2.2 -->
      <div class="row">
        <!-- 2.2.1 Комментарий -->
        <div class="col-md-10">
          <div class="form-group">
            <strong>Комментарий</strong>
            <input
              v-model="newPayment.comment"
              type="text"
              class="form-control"
              @keyup.enter="$emit('callSave')"
            />
          </div>
        </div>
        <!-- 2.2.2 // Кнопка сохранения -->
        <div class="col-md-2">
          <div class="form-group">
            <strong>&nbsp;</strong>
            <button
              :disabled="pending"
              class="btn btn-success form-control"
              @click="$emit('callSave')"
            >
              Сохранить
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { mapGetters } from 'vuex';

import { getCurrencyById } from '@/helpers/currencies';

export default {
  name: 'ReportRevisionBySuppliersAddPayment',

  model: {
    prop: 'value',
    event: 'change',
  },
  props: {
    value: Object,
    supplier: Object,
    pending: Boolean,
  },
  data: () => ({
    newPayment: {},
  }),
  computed: {
    ...mapGetters('suppliers', [
      'getSupplier',
    ]),

    supplierName() {
      return this.supplier
        ? this.supplier.name
        : '-';
    },
    currency() {
      if (!this.supplier) {
        return null;
      }

      return getCurrencyById(this.supplier.currency_id);
    },
    currencyName() {
      return this.currency
        ? this.currency.name
        : null;
    },
  },
  watch: {
    value: {
      immediate: true,
      deep: true,
      handler() {
        this.newPayment = this.value;
      },
    },
    newPayment: {
      immediate: true,
      deep: true,
      handler() {
        this.$emit('change', this.newPayment);
      },
    },
  },
}
</script>
