<template>
  <tr :class="doc.docType">
    <!-- # -->
    <td>{{ (index + 1) }}</td>

    <!-- Документ -->
    <td
      v-html="doc.echoDocTitleWithComment()"
      :colspan="doc.docType === DOC_TYPES.SUPPLIER_INVOICE ? '1' : '2'"
    ></td>

    <!-- Счет поставки -->
    <td v-if="doc.docType === DOC_TYPES.SUPPLIER_INVOICE">
      {{ invoiceText }}
    </td>

    <!-- Дата -->
    <td>{{ doc.date }}</td>

    <!-- Поставка -->
    <td>{{ docSupplyAmount }}</td>

    <!-- Оплата -->
    <td>{{ docPaymentAmount }}</td>

    <!-- Итог -->
    <td>{{ docTotal }}</td>

    <!-- Действие -->
    <td class="g-hide-on-print">
      <EditDocButton :id="doc.id" :type="doc.docType" />

      <DeleteButton
        @click="$emit(
          doc.docType === DOC_TYPES.SUPPLIER_INVOICE
            ? 'callDeleteSupplierInvoice'
            : 'callDeletePayment',
           doc.id)"
      />
    </td>
  </tr>
</template>

<script>
import EditDocButton from '@/components/UI/Buttons/EditDocButton';
import DeleteButton from '@/components/UI/Buttons/DeleteButton';

import { getBeautyMoney } from '@/helpers/helpers';
import { DOC_TYPES } from '@/constants/docTypes';

export default {
  name: 'ReportRevisionBySuppliersFormLine',
  components: {
    EditDocButton,
    DeleteButton,
  },

  props: {
    doc: Object,
    index: Number,
    currencyId: Number,
  },
  data: () => ({
    DOC_TYPES,
  }),
  computed: {
    docSupplyAmount() {
      return this.doc.docType === DOC_TYPES.SUPPLIER_INVOICE
        ? this.getAmountWithCurrency(this.doc.amount)
        : '-';
    },
    docPaymentAmount() {
      return this.doc.docType === DOC_TYPES.PAYMENT
        ? this.getAmountWithCurrency(this.doc.amount)
        : '-';
    },
    docTotal() {
      return this.getAmountWithCurrency(this.doc.docDebt);
    },
    invoiceText() {
      if (this.doc.docType !== DOC_TYPES.SUPPLIER_INVOICE) {
        return '';
      }

      let invoiceText = this.doc.invoiceNumber
        ? `№${this.doc.invoiceNumber}`
        : '';

      if (this.doc.invoiceDate) {
        invoiceText += ` от ${this.doc.invoiceDate}`;
      }

      return invoiceText;
    },
  },

  methods: {
    getBeautyMoney,
    getAmountWithCurrency(amount) {
      return this.getBeautyMoney(amount, this.currencyId);
    }
  },
}
</script>

