<template>
  <PreloaderWrapper :showPreloader="showPreloader">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>#</th>
          <th colspan="2">Документ</th>
          <th>Дата</th>
          <th>Счет</th>
          <th>Оплата</th>
          <th>Итог</th>
          <th style="width: 115px" class="g-hide-on-print">Действие</th>
        </tr>
      </thead>
      <tbody>
        <!-- если клиент не выбран -->
        <tr v-if="!supplierIsSet">
          <td class="g-hide-on-print alert-warning" colspan="8">Выберите поставщика</td>
          <td class="g-hide-on-screen alert-warning" colspan="7">Выберите поставщика</td>
        </tr>

        <!-- если дата "от" больше чем дата "до" -->
        <tr v-else-if="!fieldDatesAreOk">
          <td class="alert-danger" colspan="8">Ошибка: дата "от" больше чем дата "до"</td>
        </tr>

        <!-- если данных достаточно для классического отображения -->
        <template v-else>
          <template v-if="docs.length !== 0">
            <ReportRevisionBySuppliersFormLine
              v-for="(doc, i) in docs"
              :key="doc.docType + doc.id"
              :index="i"
              :doc="doc"
              :currencyId="shownCurrencyId"
              @callDeleteSupplierInvoice="$emit('callDeleteSupplierInvoice', $event)"
              @callDeletePayment="$emit('callDeletePayment', $event)"
            />
          </template>

          <tr v-else>
            <td></td>
            <td colspan="7">Нет документов, соответствующих указанному фильтру.</td>
          </tr>

          <tr>
            <td></td>
            <td colspan="3" style="font-weight: bold;">Выставлено на оплату</td>
            <td colspan="4">{{ getBeautyMoney(totalSold, shownCurrencyId) }}</td>
          </tr>
          <tr>
            <td></td>
            <td colspan="4" style="font-weight: bold;">Оплачено</td>
            <td colspan="3">{{ getBeautyMoney(totalPaid, shownCurrencyId) }}</td>
          </tr>
          <tr>
            <td></td>
            <td colspan="5" style="font-weight: bold;">Итог</td>
            <td colspan="2">{{ getBeautyMoney(total, shownCurrencyId) }}</td>
          </tr>
        </template>
      </tbody>
    </table>
  </PreloaderWrapper>
</template>

<script>
import ReportRevisionBySuppliersFormLine from '@/components/Reports/ReportRevisionBySuppliers/ReportRevisionBySuppliersFormLine';

import { beautyNumber, getBeautyMoney } from '@/helpers/helpers';

export default {
  name: 'ReportRevisionBySuppliersTable',
  components: {
    ReportRevisionBySuppliersFormLine,
  },

  props: {
    showPreloader: Boolean,
    supplierIsSet: Boolean,
    fieldDatesAreOk: Boolean,
    docs: Array,
    shownCurrencyId: Number,
    totalSold: Number,
    totalPaid: Number,
    total: Number,
  },

  methods: {
    beautyNumber,
    getBeautyMoney,
  },
}
</script>

