<template>
  <SupplierInvoiceForm
    :supplierInvoice="supplierInvoice"
    :supplierName="supplierName"
    :currencyName="currencyName"
    :pending="pending"
    @callSave="$emit('callSave')"
    @change="$emit('change', $event)"
  />
</template>

<script>
import SupplierInvoiceForm from '@/components/SupplierInvoices/SupplierInvoiceForm';

import { getCurrencyById } from '@/helpers/currencies';

export default {
  name: 'ReportRevisionBySuppliersAddSupplierInvoice',
  components: {
    SupplierInvoiceForm
  },

  model: {
    prop: 'supplierInvoice',
    event: 'change',
  },
  props: {
    supplierInvoice: Object,
    supplier: Object,
    pending: Boolean,
  },
  computed: {
    supplierName() {
      return this.supplier
        ? this.supplier.name
        : '-';
    },
    currency() {
      if (!this.supplier) {
        return null;
      }

      return getCurrencyById(this.supplier.currency_id);
    },
    currencyName() {
      return this.currency
        ? this.currency.name
        : null;
    },
  },
  watch: {
    supplierInvoice: {
      immediate: true,
      deep: true,
      handler() {
        this.$emit('change', this.supplierInvoice);
      },
    },
  },
}
</script>
