<template>
  <input
    v-model="customvalue"
    type="text"
    @input="updateValue($event.target.value)"
  />
</template>

<script>
import { filterToFloat } from '@/helpers/helpers';

export default {
  name: 'FloatNumberView',

  props: {
    customvalue: {},
    negative: Boolean,
  },
  data: () => ({
    inputValue: 0
  }),

  methods: {
    updateValue() {
      this.customvalue = filterToFloat(this.customvalue, !!this.negative);
    },
  },
}
</script>
