<template>
  <input
    v-model="customvalue"
    type="text"
    @input="filterValue()"
  />
</template>

<script>
import { filterToFloat } from '@/helpers/helpers';

export default {
  name: 'FloatNumber',

  props: {
    initvalue: {},
    value: {},
    negative: Boolean,
  },
  data: () => ({
    customvalue: 0,
  }),
  methods: {
    filterValue() {
      this.customvalue = filterToFloat(this.customvalue, !!this.negative);
      this.$emit('input', this.customvalue);
    },
  },

  created() {
    if (this.initvalue) {
      this.customvalue = this.initvalue;
    }
  },

  watch: {
    value(newInitValue) {
      this.customvalue = newInitValue;
    },
  },
}
</script>
