<template>
  <router-link
    v-if="to"
    :to="to"
    class="btn btn-primary"
  >
    Назад
  </router-link>
  <a
    v-else
    :href="href"
    class="btn btn-primary"
  >
    Назад
  </a>
</template>

<script>
export default {
  name: 'BackButton',

  props: {
    to: [String, Object],
    href: {
      type: String,
      required: false,
    },
  },
}
</script>
