<template>
  <button
    type="button"
    class="btn btn-danger"
    @click="deleteHandler"
  >
    <VIcon name='trash' />
  </button>
</template>

<script>
export default {
  name: 'DeleteButton',

  props: {
    promptText: {
      type: String,
      default: 'Хотите удалить этот элемент?',
    },
  },

  methods: {
    deleteHandler() {
      if (!confirm(this.promptText)) {
        return false;
      }

      this.$emit('click');
    }
  },
}
</script>
