<template>
  <EditButton :href="editLink" />
</template>

<script>
import EditButton from '@/components/UI/Buttons/EditButton';

import { DOC_TYPES } from '@/constants/docTypes';

export default {
  name: 'EditDocButton',
  components: {
    EditButton,
  },

  props: {
    id: Number,
    type: String,
  },

  computed: {
    editLink() {
      let editSubUrl,
        editLink;

      switch (this.type) {
        case DOC_TYPES.SUPPLY:
          editSubUrl = 'supplies';
          break;
        case DOC_TYPES.INVOICE:
          editSubUrl = 'invoices';
          break;
        case DOC_TYPES.SUPPLIER_INVOICE:
          editSubUrl = 'supplier-invoices';
          break;
        case DOC_TYPES.PAYMENT:
          editSubUrl = 'payments';
          break;
      }

      editLink = '/' + editSubUrl
        + '/' + this.id
        + '/edit';

      return editLink;
    },
  },
}
</script>

<style lang="scss" scoped>

</style>
