<template>
  <a
    :href="href"
    target="_blank"
    class="btn btn-primary"
  >
    <VIcon name='pen' class="fa-icon" />
  </a>
</template>

<script>
export default {
  name: 'EditButton',

  props: {
    href: String,
  },
}
</script>
