<template>
  <tr>
    <td>{{ (index + 1)  }}</td>
    <td>{{ productName }}</td>
    <td>{{ fineNumber(+productPrice.price, false) }} руб.</td>
  </tr>
</template>

<script lang="ts">
import fineNumber from '@/featureSliced/shared/helpers/fineNumber';

import Vue, { PropType } from 'vue';

export default Vue.extend({
  name: 'ClientPriceListProductPricesLine',

  props: {
    productPrice: {
      type: Object as PropType<App.Models.ProductPrice>,
      required: true,
    },
    index: {
      type: Number,
      required: true,
    },
  },
  computed: {
    productName() {
      return this.productPrice.product.name;
    },
  },

  methods: {
    fineNumber,
  },
})
</script>
