<template>
  <div class="row">
    <div class="col-md-12">
      <table class="table table-striped">
        <tbody>
          <ClientPriceListProductPricesLine
            v-for="(productPrice, i) in productPrices"
            :key="productPrice.id"
            :productPrice="productPrice"
            :index="i"
          />
        </tbody>
      </table>
    </div>
  </div>
</template>

<script lang="ts">
import Vue from 'vue';

import ClientPriceListProductPricesLine from '@/featureSliced/widgets/ClientPriceListProductPrices/ClientPriceListProductPricesLine.vue';

export default Vue.extend({
  name: 'ClientPriceListProductPrices',
  components: {
    ClientPriceListProductPricesLine,
  },

  props: {
    productPrices: {
      type: Array as () => Array<App.Models.ProductPrice[]>,
      required: true,
    },
  },
})
</script>
