<template>
  <form @submit.prevent="$emit('callSave', $event)">
    <div class="row">
      <div class="col-md-3">
        <div class="form-group">
          <router-link
            v-if="supply.supplierId"
            :to="{ name: 'suppliers-edit', params: { id: supply.supplierId }}"
          >
            <strong>Поставщик</strong>
          </router-link>
          <strong v-else>Поставщик</strong>

          <Autocomplete
            :value="supplierId"
            placeholder="Выберите поставщика"
            name="supplier_id"
            required
            :list="suppliers"
            :disabled="disableSupplierField"
            @input="changeSupplyParam('supplierId', $event)"
          />
        </div>
      </div>

      <div class="col-md-2">
        <div class="form-group">
          <strong>Номер счета</strong>

          <input
            :value="supply.invoiceNumber"
            name="invoice_number"
            type="text"
            class="form-control"
            @input="changeSupplyParam('invoiceNumber', $event.target.value)"
          >
        </div>
      </div>

      <DateField
        v-model="supply.invoiceDate"
        @input="changeSupplyParam('invoiceDate', $event)"
      >Дата счета</DateField>
      <div class="col-md-1"></div>

      <DateField
        v-model="supply.date"
        name="date"
        @input="changeSupplyParam('date', $event)"
      >Дата регистрации</DateField>

      <div class="col-md-2">
        <div class="form-group">
          <strong>Валюта</strong>
          <Autocomplete
            :value="supply.currencyId"
            placeholder="Выберите"
            required
            name="currency_id"
            :list="currenciesWithoutRatio"
            @input="changeSupplyParam('currencyId', $event)"
          />
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">
        <div class="form-group">
          <strong>Комментарий</strong>

          <input
            :value="supply.comment"
            name="comment"
            type="text"
            class="form-control"
            @input="changeSupplyParam('comment', $event.target.value)"
          >
        </div>
      </div>
    </div>

    <SupplyProductsForm
      :currency-id="supply.currencyId"
      :pricelist-id="pricelistId"
    />

    <SaveButton />
  </form>
</template>

<script>
import { mapState } from 'vuex';
import { currenciesWithoutRatio } from '@/constants/currencies';

import Autocomplete from '@/components/UI/Autocomplete';
import DateField from '@/components/UI/Fields/DateField';
import SaveButton from '@/components/UI/SaveButton';
import SupplyProductsForm from '@/components/Supplies/SupplyProductsForm';

export default {
  name: 'SupplyForm',
  components: {
    Autocomplete,
    SupplyProductsForm,
    SaveButton,
    DateField,
  },

  model: {
    prop: 'supply',
    event: 'change',
  },
  props: {
    supply: Object,
    disableSupplierField: Boolean,
  },
  data: () => ({
    currenciesWithoutRatio,
    pending: false,
  }),
  computed: {
    ...mapState('suppliers', [
      'suppliers',
    ]),

    pricelistId() {
      if (!this.supply.supplierId) {
        return null;
      }

      const supplier = this.suppliers.find(loopSupplier =>
        loopSupplier.id === this.supply.supplierId
      );

      return supplier.supplierPricelistId;
    },
    supplierId() {
      return this.supply.supplierId;
    },
  },

  methods: {
    changeSupplyParam(prop, value) {
      const changedNewPayment = this.supply;
      changedNewPayment[prop] = value;

      this.$emit('change', changedNewPayment);
    },
  },
}
</script>
