<template>
  <tr v-if="!supplyProduct.markForDeletion">
    <!-- # -->
    <td>{{ (index + 1) }}</td>

    <!-- Товар -->
    <td>
      <ProductField
        v-model="supplyProduct.productId"
        :show-label="false"
        @change="onProductChange"
      />

      <input
        v-model="supplyProduct.productId"
        type="hidden"
        :name="supplyProduct.fieldName('productId', index)"
      >
      <input
        v-model="supplyProduct.oldNew"
        type="hidden"
        :name="supplyProduct.fieldName('oldnew', index)"
      >
    </td>

    <!-- Количество -->
    <td class="count">
      <div class="count-unit">
        {{ selectedProductUnit }}
      </div>
      <input
        v-model="supplyProduct.count"
        min="0"
        required
        type="text"
        :name="supplyProduct.fieldName('count', index)"
        class="form-control"
        @input="validateNumber(index, 'count')"
      />
    </td>

    <!-- Цена -->
    <td><input
      v-model="supplyProduct.price"
      min="0"
      required
      type="text"
      :name="supplyProduct.fieldName('price', index)"
      class="form-control"
      @input="validateNumber(index, 'price')"
    /></td>

    <!-- На складе -->
    <td v-html="stockCount" class="g-hide-on-print"></td>

    <!-- Сумма -->
    <td>
      {{ sum }}
    </td>

    <!-- Действие -->
    <td class="g-hide-on-print">
      <a
        class="btn btn-danger"
        href="javascript: void(0);"
        @click="$emit('deleteClick')"
      >
        <VIcon name='trash' />
      </a>
    </td>
  </tr>
</template>

<script>
import { mapState } from 'vuex';

import ProductField from '@/components/UI/Fields/ProductField';

import { beautyNumber, roundTo, filterToFloat } from '@/helpers/helpers';
import { currencies } from '@/constants/currencies';

// TODO: использовать этот класс
// import SupplyProduct from '@/classes/supplyProduct';

export default {
  name: 'SupplyProductsFormLine',
  components: {
    ProductField,
  },

  model: {
    prop: 'supplyProduct',
    event: 'change',
  },
  props: {
    supplyProduct: Object,
    index: Number,
    currencyId: {},
  },
  computed: {
    ...mapState('products', [
      'products',
    ]),

    selectedProduct() {
      if (!this.supplyProduct.productId) {
        return null;
      }

      return this.products.find(loopProduct => loopProduct.id === this.supplyProduct.productId);
    },
    selectedProductUnit() {
      return this.selectedProduct?.unit;
    },
    stockCount() {
      // если продукт не выбран - покажем '-'
      if (!this.supplyProduct.productId) {
        return '-';
      }

      let newStockCount;
      let stockCountBeforeSupply;
      let productCount = this.selectedProduct.count;
      let currentSupplyCount = Number(this.supplyProduct.count);

      if (this.supplyProduct.oldNew === 'old'
        && this.supplyProduct.oldProductId === this.selectedProduct.id) {
        stockCountBeforeSupply = productCount - this.supplyProduct.oldProductCount;
        newStockCount = stockCountBeforeSupply + currentSupplyCount;
      }
      else {
        newStockCount = productCount + currentSupplyCount;
      }

      return 'Сейчас ' + this.roundTo(this.selectedProduct.count) + ','
        + '<br>станет ' + this.roundTo(newStockCount);
    },
    sum() {
      let supplyProductSum = this.currencyId === currencies.EURO
        ? this.supplyProduct.sumWithPrecision
        : this.supplyProduct.sum;

      return beautyNumber(supplyProductSum, {
        currencyId: this.currencyId,
        fixedPrecision: this.currencyId === currencies.EURO ? 2 : null,
      });
    },
  },

  methods: {
    beautyNumber,
    roundTo,

    validateNumber(index, field) {
      this.supplyProduct[field] = filterToFloat(this.supplyProduct[field], true);
    },
    onProductChange() {
      this.supplyProduct.oldStockCount = this.selectedProduct.count;
      this.supplyProduct.unit = this.selectedProduct.unit;
      this.$emit('changeSupplyProduct');
    },
  },
}
</script>

<style lang="scss" scoped>
.table {
  margin-bottom: 0;
  .th {
    &_sum {
      width: 122px;
    }
    &_action {
      width: 100px;
    }
  }
  td {
    padding: 0.75rem 0.25rem 0.75rem 0.75rem;
  }
  .count {
    display: flex;
    align-items: center;
  }
  .count-unit {
    margin-right: 5px;
  }
}
</style>
