<template>
  <div class="row justify-content-center form-group">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header">Товары</div>

        <div class="card-body">
          <p class="pull-right">
            <button
              type="button"
              class="btn btn-success"
              @click="addLine"
            >
              Добавить товар
            </button>
          </p>

          <table class="table table-striped">
            <thead>
              <tr>
                <th style="width: 3%">#</th>
                <th style="width: 37%">Товар</th>
                <th>Количество</th>
                <th>Цена</th>
                <th class="g-hide-on-print">На&nbsp;складе</th>
                <th class="th_sum">Сумма</th>
                <th class="th_action g-hide-on-print" width="110px">Действие</th>
              </tr>
            </thead>
            <tbody>
              <SupplyProductsFormLine
                v-for="(supplyProduct, index) in supplyProducts"
                v-model="supplyProducts[index]"
                :key="index"
                :index="index"
                :currencyId="currencyId"
                @changeSupplyProduct="changeSupplyProduct(index)"
                @deleteClick="deleteLine(index)"
              />

              <tr>
                <td></td>
                <td>
                  <span style="font-weight: bold;">Итого:</span>
                </td>
                <td>
                  <template v-if="totalWeight !== 0">
                    {{ totalWeight }} кг
                    <br v-if="totalCount !== 0" />
                  </template>
                  <template v-if="totalCount !== 0">
                    {{ totalCount }} шт
                  </template>
                </td>
                <td></td>
                <td class="g-hide-on-print"></td>
                <td class="b-total-amount g-hide-on-print" colspan="2">{{ totalCost }}</td>
                <td class="b-total-amount g-hide-on-screen" colspan="2">{{ totalCost }}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { mapState, mapGetters } from 'vuex';

import { beautyNumber, roundTo } from '@/helpers/helpers';
import { currencies } from '@/constants/currencies';

import SupplyProduct from '@/classes/supplyProduct';

import SupplyProductsFormLine from '@/components/Supplies/SupplyProductsFormLine';
import { reduceTotal } from '@/helpers/docForms';

export default {
  name: 'SupplyProductsForm',
  components: {
    SupplyProductsFormLine,
  },

  props: {
    currencyId: {},
    pricelistId: Number,
  },
  data: () => ({
    supplyProducts: [new SupplyProduct],
  }),
  computed: {
    ...mapState('supplyProducts', {
      supplyProductsInitialized: 'supplyProductsInitialized',
      stateSupplyProducts: 'supplyProducts',
    }),

    ...mapGetters('products', [
      'getProduct',
    ]),

    totalCost() {
      let totalCost = this.supplyProducts.reduce((accumulator, supplyProduct) => accumulator + (this.currencyId === currencies.EURO
        ? supplyProduct.sumWithPrecision
        : supplyProduct.sum),
        0)

      return this.beautyNumber(totalCost, {
        currencyId: this.currencyId,
        fixedPrecision: this.currencyId === currencies.EURO ? 2 : null,
      });
    },
    totalCount() {
      return reduceTotal(this.supplyProducts, 'шт');
    },
    totalWeight() {
      return reduceTotal(this.supplyProducts, 'кг');
    },
  },

  methods: {
    beautyNumber,
    roundTo,

    addLine() {
      const newSupplyProduct = new SupplyProduct();
      this.supplyProducts.push(newSupplyProduct);
    },
    deleteLine(i) {
      this.supplyProducts.splice(i, 1);
    },

    changeSupplyProduct(i) {
      // если прайслист указан - поищем цену на этот товар
      if (this.pricelistId) {
        // перебираем цены продукта, пока не найдем нужный прайс - прайс, который использует этот клиент
        const thisProductPrice = this.getProductPriceFromPricelist(
          this.supplyProducts[i].productId,
          this.pricelistId
        );

        // если нужного прайса не нашли - покажем 0
        this.supplyProducts[i].price = thisProductPrice !== undefined
          ? +thisProductPrice.price
          : 0;
      }
      // если клиент не указан - укажем цену к этому товару = 0
      else {
        this.supplyProducts[i].price = 0;
      }
    },
    getProductPriceFromPricelist(productId, pricelistId) {
      const product = this.getProduct(productId);

      return product.prices.find(productPrice =>
        productPrice.supplier_pricelist_id === pricelistId
      );
    },
  },
  watch: {
    supplyProductsInitialized: {
      immediate: true,
      handler(newInitStatus) {
        if (newInitStatus && this.$route.params.id) {
          this.supplyProducts = this.stateSupplyProducts;
        }
      },
    },
  },
}
</script>

<style lang="scss" scoped>
.table {
  margin-bottom: 0;

  .th {
    &_sum {
      width: 122px;
    }
    &_action {
      width: 100px;
    }
  }

  td {
    padding: 0.75rem 0.25rem 0.75rem 0.75rem;
  }
}
</style>
