<template>
  <div>
    <div class="form-group">
      <strong v-if="showLabel">
        <a v-if="showClientLinkUrl" :href="showClientLinkUrl">
          {{ label }}
        </a>
        <template v-else>
          {{ label }}
        </template>
      </strong>

      <Autocomplete
        :value="clientId"
        :list="displayedClients"
        placeholder="Выберите клиента"
        :multiple="multiple"
        :disabled="disabled || selectedClientIsArchived"
        @input="$emit('change', $event)"
      />
    </div>
  </div>
</template>

<script>
import { mapState, mapGetters } from 'vuex';

import Autocomplete from '@/components/UI/Autocomplete';

export default {
  name: 'ClientField',
  components: {
    Autocomplete,
  },

  model: {
    prop: 'clientId',
    event: 'change',
  },
  props: {
    clientId: [Array, Number],
    multiple: {
      type: Boolean,
      default: false,
    },
    disabled: Boolean,
    showLabel: {
      type: Boolean,
      default: true,
    },
    hideArchived: Boolean,
    disableWhenArchivedSelected: Boolean,
  },
  computed: {
    ...mapState('clients', [
      'clients',
    ]),
    ...mapGetters('clients', [
      'getClient',
    ]),

    displayedClients() {
      if (!this.hideArchived) {
        return this.clients;
      }

      return this.clients.filter(loopClient =>
        !loopClient.isArchived
        || (this.multiple
          ? this.clientId.includes(loopClient.id)
          : this.clientId === loopClient.id),
      );
    },
    label() {
      return this.multiple
        ? 'Клиенты'
        : 'Клиент';
    },

    showClientLinkUrl() {
      if (this.multiple) {
        return '';
      }

      return this.clientId
        ? `/clients/${this.clientId}/edit`
        : '';
    },
    selectedClient() {
      if (this.multiple || !this.clientId) {
        return;
      }

      return this.getClient(this.clientId);
    },
    selectedClientIsArchived() {
      return this.selectedClient?.isArchived;
    },
  },
}
</script>
