<template>
  <div>
    <div class="form-group">
      <strong>
        <slot />
      </strong>

      <div class="position-relative">
        <Datepicker
          :value="value"
          monday-first
          :disabled="disabled"
          :format="customFormatter"
          :disabledDates="disabledDates"
          @input="setValue"
        />

        <button
          v-if="clearable && value"
          class="date-field__clear-button h-100 bg-transparent border-0 position-absolute"
          @click="clearDate"
        >
          <VIcon name="ban" />
        </button>
      </div>

      <!-- Для того чтоб отправлять HTML-формы корректно -->
      <input
        v-if="name"
        type="hidden"
        :name="name"
        :value="value"
      />
    </div>
  </div>
</template>

<script>
import Datepicker from 'vuejs-datepicker';
import { en, ru } from 'vuejs-datepicker/dist/locale';

export default {
  name: 'DateField',
  components: {
    Datepicker,
  },

  props: {
    value: String,
    disabled: Boolean,
    name: String,
    clearable: {
      type: Boolean,
      default: false,
    },
  },
  data: () => ({
    en,
    ru,
    disabledDates: {
      // тут странная форма записи - означает что отображаем с 01.01.2021
      to: new Date(2021, 0, 1),
    },
  }),

  methods: {
    setValue(value) {
      this.$emit('input', value ? this.$dayjs(value).format('YYYY-MM-DD') : '');
    },
    customFormatter(date) {
      return this.$dayjs(date).format('DD.MM.YYYY');
    },
    clearDate() {
      this.setValue('');
    },
  },
}
</script>

<style lang="scss" scoped>
.vdp-datepicker {
  ::v-deep input {
    outline: 0;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;

    height: calc(1.6em + 0.75rem + 2px);
    padding: 0.375rem 0.75rem;
    font-size: 0.9rem;
    font-weight: 400;
    line-height: 1.6;
    width: 100%;
    text-align: center;
  }
}
.date-field__clear-button {
  z-index: 1;
  right: 0;
  top: 0;
  padding-right: 6px;
}
</style>
