<template>
  <div>
    <div class="form-group">
      <strong v-if="showLabel">{{ multiple ? 'Продукты' : 'Продукт' }}</strong>

      <Autocomplete
        :value="productId"
        :list="products"
        placeholder="Выберите продукт"
        :multiple="multiple"
        :disabled="disabled"
        @input="$emit('change', $event)"
      />
    </div>
  </div>
</template>

<script>
import { mapState } from 'vuex';

import Autocomplete from '@/components/UI/Autocomplete';

export default {
  name: 'ProductField',
  components: {
    Autocomplete,
  },

  model: {
    prop: 'productId',
    event: 'change',
  },
  props: {
    productId: [Array, Number],
    multiple: {
      type: Boolean,
      default: false,
    },
    showLabel: {
      type: Boolean,
      default: true,
    },
    disabled: Boolean,
  },
  computed: {
    ...mapState('products', [
      'products',
    ]),
  },
}
</script>
