<template>
  <div>
    <div class="form-group">
      <strong v-if="showLabel">{{ multiple ? 'Поставщики' : 'Поставщик' }}</strong>

      <Autocomplete
        :value="supplierId"
        :list="suppliers"
        placeholder="Выберите поставщика"
        :multiple="multiple"
        :disabled="disabled"
        @input="$emit('change', $event)"
      />
    </div>
  </div>
</template>

<script>
import { mapState } from 'vuex';

import Autocomplete from '@/components/UI/Autocomplete';

export default {
  name: 'SupplierField',
  components: {
    Autocomplete,
  },

  model: {
    prop: 'supplierId',
    event: 'change',
  },
  props: {
    supplierId: [Array, Number],
    multiple: {
      type: Boolean,
      default: false,
    },
    showLabel: {
      type: Boolean,
      default: true,
    },
    disabled: Boolean,
  },
  computed: {
    ...mapState('suppliers', [
      'suppliers',
    ]),
  },
}
</script>
