<template>
  <div>
    <div class="row">
      <div class="col-md-12">
        <p>Показаны документы, для которых все указанные фильтры выполняются одновременно.
          <br>
          Если не выбрали ничего - показаны только счета для клиентов.
        </p>
      </div>
    </div>

    <PreloaderWrapper :showPreloader="showFilterPreloader">
      <div class="row">
        <DateField
          v-model="filter.from"
          class="col-md-2"
          @input="updateFilter()"
        >
          Дата от
        </DateField>

        <div class="col-md-2 d-flex align-items-center">
          <button
            type="button"
            class="btn btn-secondary"
            @click="setFirstDateForFilterFrom()"
          >01.01.{{ new Date().getFullYear() }}
          </button>
        </div>

        <DateField
          v-model="filter.to"
          class="col-md-2"
          @input="updateFilter()"
        >
          Дата до
        </DateField>

        <div class="col-md-6">
          <div class="form-group">
            <ProductField
              v-model="filter.productIds"
              multiple
              @change="updateFilter"
            />
          </div>
        </div>
      </div>

      <div class="row">
        <SupplierField
          v-model="filter.supplierIds"
          multiple
          class="col-md-6"
          @change="updateFilter()"
        />

        <ClientField
          v-model="filter.clientIds"
          multiple
          hideArchived
          class="col-md-6"
          @change="updateFilter()"
        />
      </div>
    </PreloaderWrapper>

    <PreloaderWrapper :showPreloader="showDocsPreloader">
      <table class="table table-striped">
        <thead>
          <tr>
            <th>#</th>
            <th>Документ</th>
            <th>Контрагент</th>
            <th>Сумма</th>
            <th class="g-hide-on-print" style="width: 95px;">Действие</th>
          </tr>
        </thead>
        <tbody>
          <!-- если дата "от" больше чем дата "до" -->
          <tr v-if="Date.parse(filter.from) > Date.parse(filter.to)">
            <td class="alert-danger" colspan="6">Ошибка: дата "от" больше чем дата "до"</td>
          </tr>

          <!--<tr v-else-if="-->
          <!--filter.suppliers.length == 0-->
          <!--&& filter.clients.length == 0-->
          <!--">-->
          <!--<td class="alert-warning" colspan="5">Не выбран ни один поставщик и ни один клиент.</td>-->
          <!--</tr>-->

          <tr v-else-if="docs.length === 0">
            <td colspan="5">Нет документов, соответствующих указанному фильтру.</td>
          </tr>

          <template v-else>
            <RevisionTr
              v-for="(doc, i) in docs"
              :key="doc.docType + '-' + doc.id"
              :doc="doc"
              :index="i + 1"
              :class="doc.docType"
            />
            <tr v-if="filter.supplierIds.length === 0">
              <td></td>
              <td colspan="2" style="font-weight: bold;">Продал</td>
              <td colspan="2">{{ beautyNumber(totalSold, { round: true }) }} руб.</td>
            </tr>
            <tr v-if="filter.supplierIds.length === 0">
              <td></td>
              <td colspan="2" style="font-weight: bold;">Оплатили</td>
              <td colspan="2">{{ beautyNumber(totalPaid, { round: true }) }} руб.</td>
            </tr>
            <tr v-if="filter.supplierIds.length === 0">
              <td></td>
              <td colspan="2" style="font-weight: bold;">Должны</td>
              <td colspan="2">{{ beautyNumber(totalDebt, { round: true }) }} руб.</td>
            </tr>
            <tr v-if="filter.supplierIds.length === 0">
              <td></td>
              <td colspan="2" style="font-weight: bold;">Итого</td>
              <td colspan="2">{{ wrapTotalValue(totalValue, { round: true }) }} руб.</td>
            </tr>
            <tr v-if="filter.clientIds.length === 0">
              <td></td>
              <td colspan="2" style="font-weight: bold;">На складе</td>
              <td colspan="2">{{ beautyNumber(inStock, { round: true }) }} руб.</td>
            </tr>
          </template>
        </tbody>
      </table>
    </PreloaderWrapper>
  </div>
</template>

<script>
import { mapActions } from 'vuex';

import DateField from '@/components/UI/Fields/DateField'
import ProductField from '@/components/UI/Fields/ProductField';
import SupplierField from '@/components/UI/Fields/SupplierField';
import ClientField from '@/components/UI/Fields/ClientField';

import RevisionTr from '@/components/Reports/Revision/RevisionTr';

import { DOC_TYPES } from '@/constants/docTypes';
import { beautyNumber } from '@/helpers/helpers';
import { getRevisionReportRequest } from '@/requestManager/ReportRequests';

export default {
  name: 'RevisionTable',
  components: {
    DateField,
    ProductField,
    SupplierField,
    ClientField,
    RevisionTr,
  },

  data: () => ({
    clients: [],
    docs: [],
    filter: {
      from: '',
      to: '',
      clientIds: [],
      supplierIds: [],
      productIds: [],
    },
    inStock: 0,
    showFilterPreloader: true,
    products: [],
    showDocsPreloader: false,
    suppliers: [],
    totalDebt: 0,
    totalPaid: 0,
    totalSold: 0,
    totalValue: 0,
  }),

  mounted() {
    this.filterFieldsFirstLoad();
    this.loadState();
    this.updateFilter();
  },

  methods: {
    ...mapActions('clients', [
      'loadClients',
    ]),

    ...mapActions('suppliers', [
      'loadSuppliers',
    ]),

    ...mapActions('products', [
      'loadProducts',
    ]),

    beautyNumber,

    filterFieldsFirstLoad() {
      const dates = this.$root.getDaysForCalendarFields();

      this.filter.from = dates['firstDayOfCurrentMonth'];
      this.filter.to = dates['currentDay'];
    },
    async loadState() {
      await Promise.all([
        this.loadClients(),
        this.loadSuppliers(),
        this.loadProducts(),
      ]);
      this.showFilterPreloader = false;
    },
    setFirstDateForFilterFrom() {
      this.filter.from = new Date().getFullYear() + '-01-01';
      this.updateFilter();
    },
    updateTotal() {
      let totalBought = 0,
        totalPaid = 0,
        totalSold = 0;

      if (this.docs.length > 0) {
        // переберем документы
        this.docs.forEach(doc => {
          // если поставка от поставщика
          if (doc.docType === DOC_TYPES.SUPPLY) {
            totalBought += parseFloat(doc.rubleAmount);
          }
          // если счет на клиента
          else if (doc.docType === DOC_TYPES.INVOICE) {
            // сколько продано
            totalSold += parseFloat(doc.rubleAmount);
          }
          // если оплата от клиента
          else if (doc.docType === DOC_TYPES.PAYMENT) {
            // сколько оплачено
            totalPaid += parseFloat(doc.amount);
          }
        });
      }

      // 1 продали товара на сумму
      this.totalSold = totalSold;

      // 2 оплатили проданного на сумму
      this.totalPaid = totalPaid;

      // 3 должны оплатить - то, что недоплатили
      this.totalDebt = totalSold - totalPaid;
    },
    async updateFilter() {
      this.showDocsPreloader = true;

      const response = await getRevisionReportRequest(this.filter);

      this.docs = response.data.docsCollection;
      this.inStock = response.data.inStock;
      this.totalValue = response.data.total.debt;

      this.updateTotal();
      this.showDocsPreloader = false;
    },
    wrapTotalValue(totalValue) {
      return (totalValue > 0)
        ? '+ ' + Math.round(totalValue).toLocaleString('ru')
        : (totalValue < 0)
          ? '− ' + (Math.round(Math.abs(totalValue))).toLocaleString('ru')
          : totalValue;
    },
  },
}
</script>
