<template>
  <tr>
    <!-- # -->
    <td>{{ index }}</td>

    <!-- Документ -->
    <td>{{ getDocTitle(doc) }}
      <i v-if="doc.comment"><br/> {{ doc.comment }}</i></td>

    <!-- Контрагент -->
    <td>{{ doc.counterpartyTitle }}</td>

    <!-- Сумма по документу -->
    <td>{{ getAmountInRoublesAndOriginalWithCurrency(doc) }}</td>

    <!-- Действие -->
    <td>
      <EditDocButton
        :id="doc.id"
        :type="doc.docType"
        class="revision-tr__edit-button"
      />
    </td>
  </tr>
</template>

<script>
import EditDocButton from '@/components/UI/Buttons/EditDocButton';

import { DOC_TYPES } from '@/constants/docTypes';

export default {
  name: 'RevisionTr',
  components: {
    EditDocButton,
  },

  props: {
    index: Number,
    doc: Object,
  },
  data: () => ({
    currencyShortNames: {
      euro: '€',
      ruble: 'руб.',
    },
  }),

  methods: {
    getDocTitle(doc) {
      let docTitle = '';

      switch (doc.docType) {
        case DOC_TYPES.SUPPLY:
          docTitle = 'Поставка';
          break;
        case DOC_TYPES.INVOICE:
          docTitle = 'Счет';
          break;
        case DOC_TYPES.PAYMENT:
          docTitle = 'Оплата';
          break;
      }

      docTitle +=
        ' № ' + doc.number
        + ' от ' + doc.date;

      return docTitle;
    },
    getAmountInRoublesAndOriginalWithCurrency(doc) {
      let wrappedAmount;

      // если поставка
      if (doc.docType === DOC_TYPES.SUPPLY) {
        wrappedAmount = 'Расход: '
          + Math.round(parseFloat(doc.rubleAmount)).toLocaleString('ru') + ' руб.'
          + (
            (doc.currencySystemName === 'ruble')
              ? ''
              : ' (' + Math.round(parseFloat(doc.amount)).toLocaleString('ru')
              + ' ' + this.currencyShortNames[doc.currencySystemName] + ')'
          );
      }
      // если счет
      else if (doc.docType === DOC_TYPES.INVOICE) {
        wrappedAmount = 'Сумма по счету: '
          + Math.round(parseFloat(doc.rubleAmount)).toLocaleString('ru') + ' руб.'
          + (
            (doc.currencySystemName === 'ruble')
              ? ''
              : ' (' + Math.round(parseFloat(doc.amount)).toLocaleString('ru')
              + ' ' + this.currencyShortNames[doc.currencySystemName] + ')'
          );
      }
      // если оплата
      else if (doc.docType === DOC_TYPES.PAYMENT) {
        wrappedAmount = 'Поступление: '
          + Math.round(parseFloat(doc.rubleAmount)).toLocaleString('ru') + ' руб.';
      }

      return wrappedAmount;
    },
  },
}
</script>

<style lang="scss" scoped>
// фикс для того чтоб не ломался отступ у кнопки редактирования
.revision-tr__edit-button {
  padding: 0.595rem 0.75rem;
}
</style>
