<template>
  <PreloaderWrapper :showPreloader="pending">
    <div class="row">
      <div class="col-lg-12 margin-tb">
        <h2>
          Редактирование счета клиента
        </h2>
        <p>
          <BackButton to="/reports/revision-by-suppliers" />
        </p>
      </div>
    </div>

    <SupplierInvoiceForm
      v-model="supplierInvoice"
      :supplierName="supplierName"
      :currencyName="currencyName"
      :pending="pending"
      @callSave="update"
    />
  </PreloaderWrapper>
</template>

<script>
import { mapActions } from 'vuex';

import BackButton from '@/components/UI/Buttons/BackButton.vue';
import SupplierInvoiceForm from '@/components/SupplierInvoices/SupplierInvoiceForm';

import SupplierInvoice from '@/classes/SupplierInvoice';

import { getSupplierInvoiceRequest, updateSupplierInvoiceRequest } from '@/requestManager/SupplierInvoiceRequests';

import { getCurrencyById } from '@/helpers/currencies';

export default {
  name: 'EditSupplierInvoiceView',
  components: {
    BackButton,
    SupplierInvoiceForm,
  },

  data: () => ({
    pending: false,
    supplierInvoice: new SupplierInvoice(),
  }),
  computed: {
    supplierName() {
      return this.supplierInvoice.supplier
        ? this.supplierInvoice.supplier.name
        : '-';
    },
    currency() {
      if (!this.supplierInvoice.supplier) {
        return null;
      }

      return getCurrencyById(this.supplierInvoice.supplier.currency_id);
    },
    currencyName() {
      return this.currency
        ? this.currency.name
        : null;
    },
  },

  async created() {
    this.pending = true;

    await Promise.all([
      this.localLoadSupplierInvoice(),
      this.loadSuppliers(),
      this.loadClients(),
    ]);

    this.pending = false;
  },

  methods: {
    ...mapActions('clients', [
      'loadClients',
    ]),

    ...mapActions('suppliers', [
      'loadSuppliers',
    ]),

    change(field, value) {
      this.supplierInvoice[field] = value;
    },
    async update() {
      this.pending = true;
      const response = await updateSupplierInvoiceRequest(this.supplierInvoice);
      this.pending = false;

      if (!response.data.success) {
        // TODO: показать всплывающее окно с ошибкой
        return;
      }

      await this.$router.push('/reports/revision-by-suppliers');
    },

    async localLoadSupplierInvoice() {
      const response = await getSupplierInvoiceRequest(this.$route.params.id);
      this.supplierInvoice = new SupplierInvoice(response.data.supplierInvoice);
    },
  },
}
</script>
