<template>
  <div>
    <h2>Настройки</h2>
    <p>
      <BackButton href="/settings" />

      <DeleteButton
        :disabled="hasSelectedLines"
        promptText="Хотите удалить выбранные курсы евро?"
        @click="deleteCurrencies"
      />
    </p>

    <PreloaderWrapper :showPreloader="pending">
      <SettingsEuroPriceEditTable
        :currenciesHistory="currenciesHistory"
        :selectedOldCurrencies="selectedOldCurrencies"
        @updateEuroPrice="updateEuroPrice"
        @selectCurrency="selectCurrency"
      />
    </PreloaderWrapper>
  </div>
</template>

<script lang="ts">
import BackButton from '@/components/UI/Buttons/BackButton.vue';
import DeleteButton from '@/components/UI/Buttons/DeleteButton.vue';

import SettingsEuroPriceEditTable from '@/featureSliced/areas/settings/settingsEuroPriceEdit/components/SettingsEuroPriceEditTable.vue';

import Setting from '@/classes/Setting';

import { getCurrenciesRequest, updateEuroCurrencyRequest, deleteCurrenciesRequest } from '@/requestManager/CurrenciesRequests';

import Vue from 'vue';

const currenciesHistory: Array<Setting> = [];
const selectedOldCurrencies: Array<number> = [];
// const selectedOldCurrencies: {
//  [key: number]: boolean
// } = {};

export default Vue.extend({
  name: 'EditEuroPrice',
  components: {
    BackButton,
    DeleteButton,
    SettingsEuroPriceEditTable,
  },

  data: () => ({
    pending: false,
    currenciesHistory,
    currentSetting: null,
    selectedOldCurrencies,
  }),
  computed: {
    hasSelectedLines() {
      return !(this.selectedOldCurrencies.length);
    },
  },

  async created() {
    this.pending = true;
    await this.localLoadCurrencies();
    this.pending = false;
  },

  methods: {
    async updateEuroPrice(newEuroPrice: number) {
      this.pending = true;
      await updateEuroCurrencyRequest(newEuroPrice);
      await this.localLoadCurrencies();
      this.pending = false;
    },
    selectCurrency(oldCurrencyId: number) {
      const oldCurrencySelectedIndex = this.selectedOldCurrencies.findIndex(
        loopOldCurrency => loopOldCurrency === oldCurrencyId
      );

      if (oldCurrencySelectedIndex === -1) {
        this.selectedOldCurrencies.push(oldCurrencyId);
      } else {
        this.selectedOldCurrencies.splice(oldCurrencySelectedIndex, 1);
      }
    },
    async deleteCurrencies() {
      this.pending = true;
      const response = await deleteCurrenciesRequest(this.selectedOldCurrencies);

      if (!response.data) {
        // TODO: показать всплывающее окно с ошибкой
        this.pending = false;
        return;
      }

      this.currenciesHistory = response.data.data;
      this.pending = false;
    },

    clearSelectedLines() {
      this.selectedOldCurrencies.length = 0;
    },
    async localLoadCurrencies() {
      const response = await getCurrenciesRequest();
      // console.log(response.data)

      this.currenciesHistory = response.data.data as Array<Setting>;
      // this.productPrices = response.data.productPrices;
      // this.supplierInvoice = new Setting(response.data.supplierInvoice);
    },
  },
});
</script>
