<template>
  <div class="row">
    <div class="col-lg-12 margin-tb">
      <div class="pull-left">
        <h2><slot /></h2>
      </div>

      <p v-if="backLink">
        <a class="btn btn-primary" :href="backLink">
          Назад
        </a>
      </p>
    </div>
  </div>
</template>

<script lang="ts">
import Vue from 'vue';

export default Vue.extend({
  name: 'PageHeader',

  props: {
    backLink: {
      type: String,
      required: false,
    },
  },
})
</script>
