<template>
  <PreloaderWrapper :showPreloader="pending">
    <div>
      <label for="clientSearch">Фильтр по клиентам</label>

      <div class="input-group mb-4">
        <div class="input-group-prepend">
           <span class="input-group-text cyan lighten-2" id="basic-text1">
             <VIcon name='search' />
           </span>
        </div>

        <input
          v-model="clientSearch"
          placeholder="Начните вводить название клиента, и фильтр применится..."
          type="text"
          id="clientSearch"
          class="form-control"
        />
      </div>
    </div>

    <table class="table table-striped">
      <thead>
        <tr>
          <th>#</th>
          <th>Клиент</th>
          <th v-if="!debts">Телефон</th>
          <th v-if="!debts">Адрес</th>
          <th v-if="debts">Долг</th>
          <th class="g-hide-on-print" style="width: 155px;">Действие</th>
        </tr>
      </thead>
      <tbody>
        <template v-if="filteredClients.length !== 0">
          <!-- TODO: добавить key -->
          <tr v-for="(client, i) in filteredClients">
            <td style="width: 42px;">{{ (i + 1) }}</td>
            <td>{{ client.name }}</td>
            <td v-if="!debts">{{ client.phone }}</td>
            <td v-if="!debts">{{ client.address }}</td>
            <td v-if="debts">{{ beautyNumber(client.debt, { round: true }) }} руб.</td>
            <td>
              <a
                :href="`/clients/${client.id}/payments`"
                target="_blank"
                class="btn btn-primary"
              >
                <VIcon name='ruble-sign' />
              </a>

              <EditButton v-if="!debts" :href="`/clients/${client.id}/edit`" />
              <DeleteButton v-if="!debts" @click="deleteClient(client.id)" />
            </td>
          </tr>
        </template>

        <tr v-else>
          <td colspan="5">Клиенты не найдены</td>
        </tr>

        <tr>
          <td></td>
          <td style="font-weight: bold;">Итоговый долг</td>
          <td colspan="3">{{ beautyNumber(clientDebtSum, { round: true }) }} руб.</td>
        </tr>
      </tbody>
    </table>
  </PreloaderWrapper>
</template>

<script>
import { mapState, mapMutations, mapActions } from 'vuex';

import EditButton from '@/components/UI/Buttons/EditButton';
import DeleteButton from '@/components/UI/Buttons/DeleteButton';

import { beautyNumber } from '@/helpers/helpers';
import { getMeta } from '@/helpers/template';
import { deleteClientRequest } from '@/requestManager/ClientRequests';

export default {
  name: 'Clients',
  components: {
    EditButton,
    DeleteButton,
  },

  props: {
    debts: {
      default: false,
      required: false,
      type: Boolean,
    },
  },
  data: () => ({
    clientSearch: '',
    pending: true,
  }),
  computed: {
    ...mapState('clients', [
      'clients',
    ]),

    filteredClients() {
      return (this.clientSearch === '')
        ? this.clients
        : this.clients.filter(
          client => client.name.toLowerCase().indexOf(this.clientSearch.toLowerCase()) >= 0
        );
    },
    clientDebtSum() {
      return this.filteredClients.reduce((totalDebt, client) =>
        totalDebt + client.debt,
        0);
    },
  },

  methods: {
    ...mapMutations('clients', [
      'REMOVE_CLIENT',
    ]),
    ...mapActions('clients', [
      'loadClients',
    ]),

    beautyNumber,
    getMeta,

    async deleteClient(id) {
      this.pending = true;

      await deleteClientRequest(id);

      this.REMOVE_CLIENT(id);
      this.pending = false;
    },
    async loadClientsLocal() {
      await this.loadClients(true);

      this.pending = false;
    },
    serialize(object) {
      return JSON.stringify(object)
        .replace(/['"\{\}]/g, '')
        .replace(/:/g, '=')
        .replace(/,/g, '&');
    },
  },

  async mounted() {
    await this.loadClientsLocal();
  },
}
</script>
