<template>
  <div v-if="errors.length" class="alert alert-danger">
    <strong>Обратите внимание!</strong>
    Не&nbsp;все поля заполнены корректно
    <br><br>

    <ul>
      <li v-for="(error, i) in errors">{{ error }}</li>
    </ul>
  </div>
</template>

<script>
export default {
  name: 'ErrorMessageBox',

  props: {
    errors: {
      default: [],
      required: false,
      type: Array,
    },
  },
}
</script>
